clr-tooltip-content {
  background-color: rgba(0, 0, 0, 0.65);
  text-align: left;
  color: #fff;
  padding: 0.25rem 0.5rem;
  max-width: 29.25rem;
  z-index: 999;
  font-size: 0.65rem;
  line-height: 0.8rem;
}

mat-expansion-panel.mat-expansion-panel {
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.26);
  box-shadow: none;
}

mat-expansion-panel-header.mat-expansion-panel-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-flow: row;
  line-height: 4rem;
}

mat-expansion-panel.mat-expansion-panel.list-row mat-expansion-panel-header.mat-expansion-panel-header {
  font-size: 0.75rem;
}

mat-expansion-panel.mat-expansion-panel mat-panel-title.mat-expansion-panel-header-title {
  display: block;
}

mat-expansion-panel.mat-expansion-panel mat-panel-title.mat-expansion-panel-header-title .task-name {
  text-align: left;
  min-width: 17.5rem;
  max-width: 17.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: rgba(0, 0, 0, 0.87);
  padding-left: 1.25rem;
}

:host-context(mat-accordion.mat-accordion.content) mat-expansion-panel.mat-expansion-panel .task-name {
  min-width: 11.25rem;
  max-width: 11.25rem;
}

mat-expansion-panel.mat-expansion-panel mat-panel-description.mat-expansion-panel-header-description {
  display: -webkit-box;
  flex-flow: row;
  justify-content: end;
  color: rgba(0, 0, 0, 0.87);
}

mat-expansion-panel.mat-expansion-panel .task-status,
mat-expansion-panel.mat-expansion-panel .task-start,
mat-expansion-panel.mat-expansion-panel .task-duration,
mat-expansion-panel.mat-expansion-panel .task-inputs,
mat-expansion-panel.mat-expansion-panel .task-outputs,
mat-expansion-panel.mat-expansion-panel .task-attempts {
  text-align: left;
}

mat-expansion-panel.mat-expansion-panel .task-start {
  width: 9.375rem;
}

mat-expansion-panel.mat-expansion-panel .task-links {
  width: 11.25rem;
}

:host-context(mat-accordion.mat-accordion.content) mat-expansion-panel.mat-expansion-panel .task-start {
  width: 8.75rem;
}

:host-context(mat-accordion.mat-accordion.content) mat-expansion-panel.mat-expansion-panel .task-links {
  width: 10.625rem;
}

mat-expansion-panel.mat-expansion-panel .task-status,
mat-expansion-panel.mat-expansion-panel .task-duration,
mat-expansion-panel.mat-expansion-panel .task-inputs,
mat-expansion-panel.mat-expansion-panel .task-outputs {
  width: 5rem;
}

mat-expansion-panel.mat-expansion-panel .task-attempts {
  width: 5rem;
}

:host-context(mat-accordion.mat-accordion.content) mat-expansion-panel.mat-expansion-panel .task-status,
:host-context(mat-accordion.mat-accordion.content) mat-expansion-panel.mat-expansion-panel .task-duration,
:host-context(mat-accordion.mat-accordion.content) mat-expansion-panel.mat-expansion-panel .task-inputs,
:host-context(mat-accordion.mat-accordion.content) mat-expansion-panel.mat-expansion-panel .task-outputs {
  width: 5rem;
}

:host-context(mat-accordion.mat-accordion.content) mat-expansion-panel.mat-expansion-panel .task-attempts {
  width: 4.375rem;
}

mat-expansion-panel.mat-expansion-panel .task-links,
mat-expansion-panel.mat-expansion-panel .task-attempts {
  text-align: right;
}

mat-expansion-panel.mat-expansion-panel .task-links,
:host-context(mat-accordion.mat-accordion.content) mat-expansion-panel.mat-expansion-panel .task-links {
  overflow: visible !important;
}

mat-expansion-panel.mat-expansion-panel .mat-expansion-panel-header[aria-disabled='true'] {
  padding-right: 2rem;
  color: rgba(0, 0, 0, 0.54);
}

mat-expansion-panel.mat-expansion-panel .task-inputs clr-icon,
mat-expansion-panel.mat-expansion-panel .task-outputs clr-icon {
  color: #5C912E;
  margin-right: 1rem;
}

mat-expansion-panel.mat-expansion-panel .task-duration clr-icon {
  padding-left: 0.3125rem;
}

.task-status clr-icon,
.task-inputs clr-icon,
.task-outputs clr-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.task-duration clr-icon {
  width: 0.875rem;
  height: 0.875rem;
}
