.mat-expansion-panel {
  clear: both;
  margin: 1rem;
}

.mat-expansion-panel-header {
  font-size: 1.2rem;
  color: gray;
}

.tab-link {
  text-align: right;
  padding-right: 40px;
}

.tab-link button {
  border: 0px none;
  font-weight: bold;
  cursor: pointer;
}

.tab-link button:hover {
  text-decoration: underline;
}

::ng-deep mat-header-row.mat-header-row {
  min-height: auto;
}
