.filter-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.filter-input {
  width: 100%;
}

.show-status-option {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.selected-status {
  color: #000000 !important;
  border-bottom: 2px solid #111111;
}

/* Job Monitor table */

.first-column {
  margin-right: 20px;
}

.job-names {
  text-decoration: underline;
  position: relative;
}

.task-names {
  text-align: center;
  border: 1px solid #dddddd;
}

.selected-row {
  background-color: #E8F0FE !important;
}

.md-row:hover {
  background-color: #F5F5F5;
}

.dropdown-arrow {
  position: relative;
  float: right;
}

.status-cell {
  text-align: center;
}


.status-arrow {
  position: absolute;
}

/*Pause, Delete, and Group buttons*/

.group-options {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 11px;
  padding: 12px;
}

.group-button {
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  margin: 4px;
}
