<form class = "filter-form">
  <md-form-field class = "filter-input" color="accent">
    <input mdInput #filter placeholder="Filter jobs">
  </md-form-field>
</form>

<md-tab-group (selectChange)="toggleActive()">
  <md-tab label = "Active Jobs"></md-tab>
  <md-tab label = "Completed"></md-tab>
</md-tab-group>

<md-table #table [dataSource]="dataSource">

  <!-- Job name column -->
  <ng-container mdColumnDef="jobName">
    <md-header-cell *mdHeaderCellDef class="first-column">
      <md-checkbox [checked]="allSelected" (change)="toggleSelectAll()">
        Job
      </md-checkbox>
    </md-header-cell>
    <md-cell *mdCellDef="let j" class="first-column job-names">
      <md-checkbox [checked]="isSelected(j)" (change)="toggleSelect(j)">
        {{j.name}}
      </md-checkbox>
      <img *ngIf="isMouseOver(j)" class = "dropdown-arrow" src="{{getDropdownArrowUrl(j)}}"
      (click)="showExpandedJob(j)">
    </md-cell>
  </ng-container>

  <!-- Owner column -->
  <ng-container mdColumnDef="owner">
    <md-header-cell *mdHeaderCellDef> Owner </md-header-cell>
    <md-cell *mdCellDef="let j"> owner </md-cell>
  </ng-container>

  <!-- Status column -->
  <ng-container mdColumnDef="status">
    <md-header-cell *mdHeaderCellDef> Status </md-header-cell>
    <md-cell *mdCellDef="let j">
      <img mdTooltip="{{j.status}}" mdTooltipPosition="before" class = "status-img" src="{{getStatusUrl(j.status)}}">
      <img class="status-arrow" *ngIf="isMouseOver(j)" (click)="showMetadata(j)"
           src="https://www.gstatic.com/images/icons/material/system/1x/arrow_drop_down_grey700_24dp.png">
    </md-cell>
  </ng-container>

  <!-- Example label columns -->
  <ng-container mdColumnDef="label1">
    <md-header-cell *mdHeaderCellDef> Label </md-header-cell>
    <md-cell *mdCellDef="let j"> value </md-cell>
  </ng-container>
  <ng-container mdColumnDef="label2">
    <md-header-cell *mdHeaderCellDef> Label </md-header-cell>
    <md-cell *mdCellDef="let j"> value </md-cell>
  </ng-container>
  <ng-container mdColumnDef="label3">
    <md-header-cell *mdHeaderCellDef> Label </md-header-cell>
    <md-cell *mdCellDef="let j"> value </md-cell>
  </ng-container>


  <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
  <md-row (mouseenter) ="toggleMouseOver(j)"
          (mouseleave) ="toggleMouseOver(j)"
          [class.selected-row]="isSelected(j)"
          class = "md-row"
          *mdRowDef="let j; columns: displayedColumns;"></md-row>

</md-table>

<div class="group-options" *ngIf="selectedJobs.length > 0">
  {{selectedJobs.length}} jobs selected
  <button md-raised-button color="accent" class="group-button" *ngIf="areRunning(selectedJobs)"
          (click)="onPauseJobs(selectedJobs)">Pause Jobs</button>
  <button md-raised-button color="accent" class="group-button" *ngIf="isActive"
          (click)="onAbortJobs(selectedJobs)">Delete Jobs</button>
  <button md-raised-button color="accent" class="group-button"
          (click)="onGroupJobs(selectedJobs)">Group Jobs</button>
</div>

<md-paginator #paginator
              [length]="jobs.length"
              [pageIndex]="0"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</md-paginator>
