<div class="content">
  <div class="header">
    <p class="title">Tasks</p>
    <md-tab-group>
      <md-tab label = "List view"></md-tab>
      <md-tab label = "Graph view"></md-tab>
    </md-tab-group>
  </div>

  <md-table #table [dataSource]="dataSource">
    <!-- Task name column -->
    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
      <md-cell *mdCellDef="let t">{{ t.name }}</md-cell>
    </ng-container>

    <!-- Status column -->
    <ng-container mdColumnDef="status">
      <md-header-cell *mdHeaderCellDef> Status </md-header-cell>
      <md-cell *mdCellDef="let t">
        <button md-icon-button disabled>
          <img mdTooltip="{{ t.executionStatus }}" mdTooltipPosition="before"
               src="{{ getStatusUrl(t.executionStatus) }}">
        </button>
      </md-cell>
    </ng-container>

    <!-- Example columns -->
    <ng-container mdColumnDef="startTime">
      <md-header-cell *mdHeaderCellDef> Start Time </md-header-cell>
      <md-cell *mdCellDef="let t" class="column">{{ t.start | jmShortDateTime }}</md-cell>
    </ng-container>
    <ng-container mdColumnDef="duration">
      <md-header-cell *mdHeaderCellDef> Duration </md-header-cell>
      <md-cell *mdCellDef="let t" class="column">{{ t.start | jmDuration:t.end }}</md-cell>
    </ng-container>
    <ng-container mdColumnDef="attempts">
      <md-header-cell *mdHeaderCellDef> Attempts </md-header-cell>
      <md-cell *mdCellDef="let t" class="column">
        {{ t.attempts }}
      </md-cell>
    </ng-container>
    <ng-container mdColumnDef="stdout">
      <md-header-cell *mdHeaderCellDef> Stdout </md-header-cell>
      <md-cell *mdCellDef="let t" class="column">
        <a class="log-item" href="{{ getResourceURL(t.stdout) }}">
          {{ formatValue(t.stdout) }}
        </a>
      </md-cell>
    </ng-container>
    <ng-container mdColumnDef="stderr">
      <md-header-cell *mdHeaderCellDef> Stderr </md-header-cell>
      <md-cell *mdCellDef="let t" class="column">
        <a class="log-item" href="{{ getResourceURL(t.stderr) }}">
          {{ formatValue(t.stderr) }}
        </a>
      </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let t; columns: displayedColumns;"></md-row>

  </md-table>
</div>
