* {
  font-family: 'Roboto', sans-serif;
}

.content {
  margin: 1rem;
  clear: left;
}

.header {
  margin-right: 1rem;
}

.title {
  margin-top: .6rem;
  margin-bottom: .6rem;
  font-size: 1.2rem;
  color: gray
}

.title-link {
  color: black;
}

.mat-tab-group {
  margin-right: 1rem;
  float: right;
}

.mat-table {
  display: table;
  width: 100%;
}

.mat-header-row, .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

.mat-header-cell, .mat-cell {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  padding: 0 8px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.log-item {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

clr-tooltip-content {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0.25rem 0.5rem;
  font-size: 0.65rem;
  line-height: 0.65rem;
  color: #fff;
  display: block;
  margin: -0.6rem 0.5rem 0 0;
  height: auto;
}

clr-icon {
  margin-right: 1rem;
}

/* override default color of alert triangle for clarity icon */
::ng-deep clr-icon.log-error .clr-i-alert.clr-i-outline--alerted {
  fill: #e62700;
}

::ng-deep clr-icon.log-error.disabled .clr-i-alert.clr-i-outline--alerted {
  fill: currentColor;
}

a.title-link, p.title-nolink {
  display: inline-flex;
}

button.shard-icon {
  display: inline-flex;
  margin-left: 1.5rem;
}

.shards-container {
  display: inline-flex;
  flex-direction: row;
}

.shards-header {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.shards-statuses {
  font-size: 0.65rem;
  margin-right: 0.5rem;
}
