<div class="content">
  <mat-expansion-panel [expanded]=true [disabled]=true [hideToggle]=true>
    <mat-expansion-panel-header>
      <mat-panel-title><p class="title">Tasks</p></mat-panel-title>
      <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab label="List View"></mat-tab>
        <!-- Disable the graph view tab so the indicator doesn't switch on click -->
        <mat-tab *ngIf="hasTimingUrl()" label="Graph View" [disabled]=true>
          <ng-template mat-tab-label>
            <a style="all: unset" href="{{ job.extensions.timingUrl }}" target="_blank">
              <div class="title-link">Graph view</div>
            </a>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel-header>

    <mat-table #table [dataSource]="dataSource">
      <!-- Task name column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let t">
          <a class="title-link" *ngIf="t.jobId" href="{{ '/jobs/' + t.jobId }}">{{ t.name }}</a>
          <p *ngIf="!t.jobId">{{ t.name }}</p>
        </mat-cell>
      </ng-container>

      <!-- Status column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let t">
          <clr-tooltip>
            <clr-icon clrTooltipTrigger [attr.shape]="getStatusIcon(t.executionStatus)" size="24"></clr-icon>
            <clr-tooltip-content clrPosition="left" clrSize="xs" *clrIfOpen>
              <span>{{ t.executionStatus }}</span>
            </clr-tooltip-content>
          </clr-tooltip>
        </mat-cell>
      </ng-container>

      <!-- Example columns -->
      <ng-container matColumnDef="startTime">
        <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
        <mat-cell *matCellDef="let t" class="column">{{ t.start | jmShortDateTime }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
        <mat-cell *matCellDef="let t" class="column">{{ t.start | jmDuration: t.end }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="attempts">
        <mat-header-cell *matHeaderCellDef> Attempts </mat-header-cell>
        <mat-cell *matCellDef="let t" class="column">{{ t.attempts }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="files">
        <mat-header-cell *matHeaderCellDef> Log files </mat-header-cell>
        <mat-cell *matCellDef="let t" class="column">
          <clr-tooltip *ngIf="getResourceUrl(t.stdout)">
            <a class="log-item" href="{{ getResourceUrl(t.stdout) }}">
              <clr-icon clrTooltipTrigger shape="file" size="24"></clr-icon>
              <clr-tooltip-content clrPosition="top-left" clrSize="xs" *clrIfOpen>
                <span>stdout log</span>
              </clr-tooltip-content>
            </a>
          </clr-tooltip>
          <clr-icon *ngIf="!getResourceUrl(t.stdout)" shape="file" size="24" style="color: #ccc;"></clr-icon>
          <clr-tooltip *ngIf="getResourceUrl(t.stderr)">
            <a class="log-item" href="{{ getResourceUrl(t.stderr) }}">
              <clr-icon clrTooltipTrigger shape="file" size="24" class="has-alert log-error" style="color: #000;"></clr-icon>
              <clr-tooltip-content clrPosition="top-left" clrSize="xs" *clrIfOpen>
                <span>stderr log</span>
              </clr-tooltip-content>
            </a>
          </clr-tooltip>
          <clr-icon *ngIf="!getResourceUrl(t.stderr)" shape="file" size="24" class="has-alert log-error disabled" style="color: #ccc;"></clr-icon>
          <clr-tooltip *ngIf="getTaskDirectory(t)">
            <a class="log-item" href="{{ getTaskDirectory(t) }}">
              <clr-icon clrTooltipTrigger shape="folder" size="24"></clr-icon>
              <clr-tooltip-content clrPosition="top-left" clrSize="xs" *clrIfOpen>
                <span>execution directory</span>
              </clr-tooltip-content>
            </a>
          </clr-tooltip>
          <clr-icon *ngIf="!getTaskDirectory(t)" shape="file" size="24" style="color: #ccc;"></clr-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let t; columns: displayedColumns;"></mat-row>

    </mat-table>
  </mat-expansion-panel>
</div>
