<mat-card>
  <mat-card-title>
    {{ aggregation.name }}
  </mat-card-title>

  <mat-card-content>
    <table>
      <tr>
        <th mat-sort-header="label">Label</th>
        <ng-container *ngFor="let status of statusArray">
          <th mat-sort-header="'status'">{{ status }}</th>
        </ng-container>
      </tr>

      <tr *ngFor="let entry of aggregation.entries">
        <td class="label">
          <a [routerLink]="['/jobs']" [queryParams]="getLabelUrlParams(entry)">
            {{ entry.label }}
          </a>
        </td>
        <ng-container *ngFor="let status of statusArray">
          <td class="count">
            <a [routerLink]="['/jobs']" [queryParams]="getStatusUrlParams(entry, status)">
              {{ convertCountsToMap(entry).get(status) }}
            </a>
          </td>
        </ng-container>
      </tr>

    </table>
  </mat-card-content>
</mat-card>
