<mat-card *ngFor="let aggregation of aggregationResponse.aggregations">
  <mat-card-title>
    {{ aggregation.key }}

  </mat-card-title>

  <mat-card-content>
    <table>
      <tr>
        <th mat-sort-header="key"> Key</th>
        <ng-container *ngFor="let status of statusArray">
          <th mat-sort-header="'status'"> {{ status }}</th>
        </ng-container>
      </tr>

      <tr *ngFor="let entry of aggregation.entries">
        <td>{{ entry.label }}</td>
        <ng-container *ngFor="let status of statusArray">
          <td>{{ convertCountsToMap(entry).get(status) }}</td>
        </ng-container>

      </tr>
    </table>
  </mat-card-content>
</mat-card>
