<mat-card [style.padding-bottom]="paddingBottom">
  <mat-card-content>
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="label" class="label">{{ aggregation.name }}</th>
          <ng-container *ngFor="let status of statusArray">
          <th [mat-sort-header]=status>
            <clr-tooltip>
              <clr-icon clrTooltipTrigger [attr.shape]="getStatusIcon(status)" class="status-icon"></clr-icon>
            </clr-tooltip>
          </th>
        </ng-container>
      </tr>

      <ng-container *ngFor="let entry of aggregationEntries; let i = index">
        <tr *ngIf="i < displayNumRow" class="data">
            <td class="label-value">
              <a [routerLink]="['/jobs']" [queryParams]="getLabelUrlParams(entry)">
                {{ entry.get(labelKey) }}
              </a>
            </td>

            <ng-container *ngFor="let status of statusArray">
              <td class="count">
                <a [routerLink]="['/jobs']" [queryParams]="getStatusUrlParams(entry, status)">
                  {{ entry.get(status) }}
                </a>
              </td>
            </ng-container>
        </tr>
      </ng-container>
      </table>

    <div>
      <button mat-icon-button (click)="onArrowClick()"
              *ngIf="displayCollapseArrow">
        <clr-tooltip>
          <clr-icon clrTooltipTrigger [attr.shape]="'angle'" class="arrow" [style.transform]="iconTransform"></clr-icon>
        </clr-tooltip>
      </button>
    </div>

  </mat-card-content>
</mat-card>
