<h2 mat-dialog-title *ngIf="data">{{ data.shardsData.taskName }}</h2>
<mat-dialog-content #dialogContainer *ngIf="data && data.shardsData">
  <mat-accordion class="content">
    <mat-expansion-panel disabled="disabled" expanded="false" class="list-header">
      <mat-expansion-panel-header>
        <mat-panel-title><div class="task-name">Task Name</div></mat-panel-title>
        <mat-panel-description>
          <div class="task-status">Status</div>
          <div class="task-start">Start</div>
          <div class="task-duration">Duration</div>
          <div class="task-inputs">Inputs</div>
          <div class="task-outputs">Outputs</div>
          <div class="task-links">Links</div>
          <div class="task-attempts">Attempts</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <ng-container *ngFor="let shard of data.shardsData.shards">
      <mat-expansion-panel class="list-row"
                           expanded="false"
                           disabled="{{ !!shard.jobId }}"
                           (opened)="getShardAttempts(shard)">
        <mat-expansion-panel-header [expandedHeight]="'48px'">
          <mat-panel-title>
            <div class="task-name">
              <a *ngIf="shard.jobId" class="title-link" href="/jobs/{{ shard.jobId }}">shard {{ shard.shardIndex }}</a>
              <span *ngIf="!shard.jobId">shard {{ shard.shardIndex }}</span>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <div class="task-status status-icon">
              <clr-tooltip>
                <clr-icon clrTooltipTrigger [attr.shape]="getStatusIcon(shard.executionStatus)"></clr-icon>
                <clr-tooltip-content clrPosition="left" clrSize="xs" *clrIfOpen>
                  <span>{{ shard.executionStatus }}</span>
                </clr-tooltip-content>
              </clr-tooltip>
            </div>
            <div class="task-start">
              <jm-datetime [datetime]="shard.start"></jm-datetime>
            </div>
            <div class="task-duration">
              {{ shard.start | jmDuration: shard.end }}
              <clr-tooltip *ngIf="shard.callCached">
                <clr-icon clrTooltipTrigger shape="history"></clr-icon>
                <clr-tooltip-content clrPosition="left" clrSize="xs" *clrIfOpen>
                  <span>This task was cached</span>
                </clr-tooltip-content>
              </clr-tooltip>
            </div>
            <div class="task-inputs">&nbsp;</div>
            <div class="task-outputs">&nbsp;</div>
            <div class="task-links">
              <jm-debug-icons [displayMessage]="hasFailures(shard)"
                              [operationId]="shard.operationId"
                              [jobId]="data.shardsData.taskId"
                              [message]="getFailures(shard)"
                              [stdout]="shard.stdout"
                              [stderr]="shard.stderr"
                              [backendLog]="shard.backendLog"
                              [directory]="shard.callRoot">
              </jm-debug-icons>
            </div>
            <div class="task-attempts">{{ shard.attempts }}</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <jm-attempt [attempt]="attempt" [jobId]="data.shardsData.taskId" *ngFor="let attempt of shard.attemptsData"></jm-attempt>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</mat-dialog-content>
