mat-table {
  margin-top: 1.25rem;
  display: table;
  width: 99%;
  border-radius: 0.3125rem;
  border: 1px solid #CCCFD4;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
}

:host-context(mat-card.card) mat-table {
  border: none;
  box-shadow: none;
  border-radius: unset;
  width: 100%;
  margin-top: 0;
}

.mat-header-row,
.mat-row {
  display: table-row;
  min-height: auto;
}

td,
th {
  text-align: left;
  font-size: 0.7rem;
  line-height: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: table-cell;
}

th {
  background-color: #F1F4F7;
  color: #333F52;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

td {
  padding: 1rem;
}

th.failure-task,
td.failure-task {
  min-width: 9.375rem;
  max-width: 18.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th.failure-message,
td.failure-message {
  line-height: 1.25rem;
  word-wrap: break-word;
}

th.failure-links,
td.failure-links {
  min-width: 11.875em;
}

.log-item {
  cursor: pointer;
  text-decoration: none;
}

.failure-links clr-icon {
  margin: 0;
}

:host-context(mat-card.card) .mat-header-row {
  display: none;
}

:host-context(mat-card.card) td,
:host-context(mat-card.card) th {
  padding: 0.3125rem 0.625rem 0.3125rem 0;
  line-height: 0.7rem;
}

:host-context(mat-card.card) .mat-row:last-child td {
  border-bottom: none;
}

:host-context(mat-card.card) td.failure-task {
  min-width: 6.25rem;
  max-width: 6.25rem;
  font-size: 0.7rem;
}

:host-context(mat-card.card) td.failure-links {
  min-width: 10rem;
  padding-right: 0px;
}

clr-tooltip-content {
  padding: 0.25rem 0.5rem;
  font-size: 0.65rem;
  line-height: 0.65rem;
  color: #fff;
  display: block;
  margin: -0.6rem 0.5rem 0 0;
  height: auto;
}

.title-link {
  color: black;
}

a.title-link {
  text-decoration: underline;
  cursor: pointer;
}
