* {
  font-family: 'Roboto', sans-serif;
}

mat-table {
  width: 100%;
}

.mat-header-row,
.mat-row {
  display: table-row;
  min-height: auto;
}

td,
th {
  padding: 5px 15px 5px 0px;
  text-align: left;
  font-size: 0.75rem;
  line-height: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  height: 1rem;
  display: table-cell;
}

th {
  color: #999;
  font-weight: normal;
  padding-top: 1rem;
}

th.failure-task,
td.failure-task {
  min-width: 150px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th.failure-message,
td.failure-message {
  width: 100%;
}

th.failure-links,
td.failure-links {
  min-width: 79px;
  padding-right: 0px;
}

clr-tooltip-content {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0.25rem 0.5rem;
  font-size: 0.65rem;
  line-height: 0.65rem;
  color: #fff;
  display: block;
  margin: -0.6rem 0.5rem 0 1rem;
  height: auto;
  z-index: 100;
}

clr-tooltip-content.message {
  max-width: 20rem;
  font-size: 0.8rem;
  line-height: 1.25rem;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100;
  margin-top: -1rem;
}

.log-item {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.failure-links clr-icon:last-child {
  margin-right: 0;
}

:host-context(mat-card.card) .mat-header-row {
  display: none;
}

:host-context(mat-card.card) td,
:host-context(mat-card.card) th {
  padding: 5px 10px 5px 0px;
}

:host-context(mat-card.card) .mat-row:last-child td {
  border-bottom: none;
}

:host-context(mat-card.card) .failure-task {
  width: 174px;
  max-width: 174px;
}

:host-context(mat-card.card) td.failure-links {
  min-width: 107px;
  padding-right: 0px;
}
