<!-- changed from <mat-header-cell> and <mat-cell> to <th mat-header-cell> and <td mat-cell> because of display bug -->
<mat-table [dataSource]="dataSource">
  <!-- Task name column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="failure-task"> Task Name </th>
    <td mat-cell *matCellDef="let f" class="failure-task">
      <a class="title-link" *ngIf="f.jobId" href="/jobs/{{f.jobId}}">{{ f.taskName }}</a>
      <span *ngIf="!f.jobId">{{ f.taskName }}</span>
    </td>
  </ng-container>

  <!-- Failure message column -->
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef class="failure-message"> Failure Message </th>
    <td mat-cell *matCellDef="let f" class="failure-message">{{ f.failure }}</td>
  </ng-container>

  <!-- Outside links column -->
  <ng-container matColumnDef="links">
    <th mat-header-cell *matHeaderCellDef class="failure-links"> Log Files </th>
    <td mat-cell *matCellDef="let f" class="failure-links">
      <jm-debug-icons [displayMessage]="!displayedColumns.includes('message')"
                      [operationId]="f.operationId"
                      [jobId]="jobId"
                      [message]="f.failure"
                      [stdout]="f.stdout"
                      [stderr]="f.stderr"
                      [backendLog]="f.backendLog"
                      [directory]="f.callRoot">
      </jm-debug-icons>
    </td>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let f; columns: displayedColumns;"></mat-row>
</mat-table>
