clr-tooltip-content {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0.25rem 0.5rem;
  font-size: 0.65rem;
  color: #fff;
  display: block;
  margin: -0.6rem 0.5rem 0 0;
  height: auto;
  line-height: 1rem;
  text-align: left;
}

:host-context(.mat-expansion-panel-header) clr-tooltip-content {
  max-width: 50%;
}

clr-tooltip a {
  text-decoration: none;
}

clr-icon,
clr-icon.is-solid {
  color: #5C912E;
}

clr-icon.disabled {
  color: #ccc;
}

/* override default color of alert triangle for clarity icon */
::ng-deep clr-icon.log-error .clr-i-alert.clr-i-outline--alerted {
  fill: #e62700;
}

::ng-deep .mat-expansion-panel-header.mat-expanded .task-links clr-icon.log-error .clr-i-alert.clr-i-outline--alerted {
  fill: #ccc;
}

:host-context(.mat-expansion-panel-header.mat-expanded .task-links) clr-icon {
  color: #ccc;
}

::ng-deep clr-icon.log-error.disabled .clr-i-alert.clr-i-outline--alerted {
  fill: #ccc;
}
