clr-tooltip-content {
  font-size: 0.65rem;
  line-height: 0.8rem;
}

clr-tooltip-content.message {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0.25rem 0.5rem;
  color: #fff;
  margin: -0.6rem 0.5rem 0 0;
  height: auto;
  line-height: 1rem;
  overflow-wrap: break-word;
  max-width: 30rem;
}


clr-tooltip a {
  text-decoration: none;
}
