  <button *ngIf="displayMessage" class="log-item message-icon" type="button"
          [matTooltip]="message" matTooltipPosition="left" aria-label="View error message">
    <mat-icon style="color:#DB3214">warning</mat-icon>
  </button>
  <mat-icon *ngIf="!getResourceUrl(backendLog) && !hasExternalLogs()" svgIcon="cloud-file" class="backend-log-button disabled"></mat-icon>
  <button *ngIf="getResourceUrl(backendLog)" class="log-item backend-log-button"
          (click)="showOrLinkTo($event, backendLog)"
          matTooltip="backend log" matTooltipPosition="above" aria-label="Open backend log">
    <mat-icon svgIcon="cloud-file"></mat-icon>
  </button>
  <a *ngIf="!!hasExternalLogs() && !getResourceUrl(backendLog)" class="log-item backend-log-button"
     [href]="getExternalLogsUrl()" target="_blank" rel="noopener noreferrer" (click)="$event.stopPropagation()"
     matTooltip="backend log" matTooltipPosition="above" aria-label="Open backend log">
    <mat-icon svgIcon="cloud-file"></mat-icon>
  </a>
  <mat-icon *ngIf="!getDirectoryUrl(directory)" class="disabled">folder</mat-icon>
  <a *ngIf="getDirectoryUrl(directory)" class="log-item execution-directory-button"
     [href]="getDirectoryUrl(directory)" target="_blank" rel="noopener noreferrer" (click)="$event.stopPropagation()"
     matTooltip="execution directory" matTooltipPosition="above" aria-label="Open execution directory">
    <mat-icon>folder</mat-icon>
  </a>
  <button *ngIf="!!hasBackendOperationalDetails()" class="log-item operation-details-button"
          (click)="showOperationDetails($event)"
          matTooltip="compute details" matTooltipPosition="above" aria-label="Compute details">
    <mat-icon>info</mat-icon>
  </button>
  <a *ngIf="!!hasExternalOperationalDetails()" class="log-item operation-details-button"
     [href]="getOperationalDetailsUrl()" target="_blank" rel="noopener noreferrer" (click)="$event.stopPropagation()"
     matTooltip="compute details" matTooltipPosition="above" aria-label="Compute details">
    <mat-icon>info</mat-icon>
  </a>
