<jm-filter-header class="header" [showControls]="false"></jm-filter-header>
<div class="aggregation-container">
  <span class="title">Total Jobs</span>
  <mat-select [placeholder]='tfDescMap.get(selectedTimeFrame)'
              (selectionChange)="onTimeFrameChange($event.value)">
    <mat-option *ngFor="let timeFrame of timeFrames" [value]="timeFrame">
      {{tfDescMap.get(timeFrame)}}
    </mat-option>
  </mat-select>

  <jm-total-summary [summary]="aggregationResponse.summary"
                    [statusArray]="statusArray"
                    [timeFrame]="selectedTimeFrame"></jm-total-summary>

  <div class="group-container">
    <jm-grouped-summary *ngFor="let aggregation of aggregationResponse.aggregations"
                        [statusArray]="statusArray"
                        [aggregation]="aggregation"
                        [timeFrame]="selectedTimeFrame"></jm-grouped-summary>
  </div>
</div>

<!--TODO(zachx): improving the layout using angular grid system-->
