.header {
  position: fixed;
  top: 66px;
  z-index: 1;
  display: block;
  width: 100%;
  background-color: #fff;
  padding-bottom: 10px;
}

.aggregation-container {
  padding: 145px 1rem 1rem 1rem;
}

.group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.title {
  font-size: x-large;
  margin: 0 1rem 1rem 1rem;
}

mat-select {
  width: 150px;
}
