/* You can add global styles to this file, and also import other style files */
@import './theme';

*:focus {
  outline: none;
}

/*
  Overrides the angular material menu width in the panel component template
 */
.wide-menu {
  max-width: 500px !important;
}

/*
  Overrides the angular material tab header to have no bottom border
 */
.mat-tab-header {
  border-bottom: none;
}
