.table-container {
  position: relative;
  width: 100%;
  top: 200px;
  bottom: 0;
}

.spinner-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.header {
  position: fixed;
  top: 66px;
  z-index: 100;
  width: 100%;
}

.job-list-table {
  display: inline-block;
  width: 100%;
}

/* The pagination controls are near the top, so position relatively high. */
.mat-spinner {
  top: 15%;
}
