<jm-filter-header
  class="header"
  [jobs]="jobs"
  [pageSize]="pageSize"
  [showControls]="true"
  (onDisplayFieldsChanged)="handleDisplayFieldsChanged($event)"></jm-filter-header>
<div class="table-container">
  <jm-job-list-table
    class="job-list-table"
    [ngStyle]="{'opacity': tableOpacity}"
    [dataSource]="dataSource"
    (onJobsChanged)="handleJobsChanged()"
    (onFiltersChanged)="handleFiltersChanged($event)"
    [displayFields]="displayFields">
  </jm-job-list-table>
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
