.mat-card {
  margin: 1rem;
}

.count a {
  text-decoration: none;
  color: #000000;
}

.mat-card-title {
  font-size: 1.2rem;
  color: gray
}

/*TODO(zachx): change this to adapt more complex layout*/
.card-container {
  display: inline-flex;
}
