.total-summary{
  margin: 0 1rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

.card {
  margin: 1rem;
  width: 18%;
}

.title {
  font-size: large;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: xx-large;
}

clr-tooltip {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 20%;
  float: right;
}

.icon {
  height: 100%;
  width: 100%;
}
