<div class="total-summary">
  <mat-card class="card" *ngFor="let status of statusArray">
    <a [routerLink]="['/jobs']" [queryParams]="getUrlParams(status)">
      <div class="title">
        <span>{{status}}</span>
      </div>
      <div class="content">
          <!-- Add commas to numbers for better UX -->
          {{ statusCountsMap.get(status).toLocaleString('en') }}
        <mat-icon class="icon job-status-icon" [ngClass]="getStatusIcon(status)">{{getStatusIcon(status)}}</mat-icon>
      </div>
    </a>
  </mat-card>
</div>
