<h2 mat-dialog-title>Set Metadata</h2>
<mat-dialog-content>
  <ng-container *ngFor="let df of data.bulkLabelFields">
    <div [ngSwitch]="getFieldType(df)">
      <div *ngSwitchCase="'text'">
        <label for="{{ df.field }}">{{df.display}}</label>
        <mat-form-field>
                  <input matInput
                         type="text"
                         [value]="(df.default !== false) ? df.default : '(multiple)'"
                         [id]="df.field"
                         #bulkLabelField
                         maxlength="255"
                         (focus)="bulkLabelField.select()"
                         (change)="setFieldValue(df, bulkLabelField.value)">
          <button mat-button *ngIf="df.display" matSuffix mat-icon-button aria-label="Clear" (click)="clearFieldValue(df, bulkLabelField)">
            <clr-icon shape="times-circle"></clr-icon>
          </button>
          <mat-hint align="end">{{bulkLabelField.value?.length || 0}}/255</mat-hint>
        </mat-form-field>
      </div>
      <div *ngSwitchCase="'list'">
        <label for="{{ df.field }}">{{ df.display }}</label>
        <mat-form-field>
          <mat-select #bulkLabelSelect
                      [placeholder]="(df.default !== false) ? df.default : '(multiple)'"
                      [id]="df.field"
                      (change)="setFieldValue(df, bulkLabelSelect.value)">
            <mat-option value="">(none)</mat-option>
            <mat-option *ngFor="let fieldOption of getFieldOptions(df)"
                        [value]="fieldOption">
              {{ fieldOption }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </ng-container>
 </mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancelChanges()">Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button mat-dialog-close (click)="saveChanges()">Apply</button>
</mat-dialog-actions>
