<div class="content">
  <mat-expansion-panel [expanded]=alwaysExpanded() [disabled]=alwaysExpanded() [hideToggle]=alwaysExpanded() #matExpansionPanel>

    <mat-expansion-panel-header (click)="expandPanel(matExpansionPanel, $event)">
      <mat-panel-title><p class="title">Resources</p></mat-panel-title>
      <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab *ngFor="let tab of tabs()" [label]="tab"></mat-tab>
      </mat-tab-group>
    </mat-expansion-panel-header>

    <mat-divider></mat-divider>

    <jm-resources-table *ngIf="currentTabId == 'inputs'" [entries]="job.inputs"></jm-resources-table>
    <jm-resources-table *ngIf="currentTabId == 'outputs'" [entries]="job.outputs"></jm-resources-table>
    <div *ngIf="currentTabId == 'source-file'" class="inline-text">
      {{ job.extensions.sourceFile }}
    </div>
    <div *ngFor="let logFile of logFiles()">
      <div *ngIf="currentTabId == 'log-' + logFile" class="inline-text">
        {{ logFileData.get(logFile) }}
      </div>
    </div>
    <div *ngIf="currentTabId == 'event-detail'" class="inline-text">
      <div *ngFor="let eventDetail of eventDetails" class="inline-text event-detail">
          {{ eventDetail.startTime + ' ' + eventDetail.description }}
      </div>
    </div>
  </mat-expansion-panel>
</div>
