.content {
  margin: 1rem;
  clear: left;
}

mat-expansion-panel {
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
}

.header {
  margin-right: 1rem;
}

.title {
  margin-top: .6rem;
  margin-bottom: .6rem;
  font-size: 1.2rem;
  color: gray;
}

.mat-expansion-panel-header {
  font-family: 'Montserrat', sans-serif;
}

.mat-tab-group {
  padding-right: 1rem;
}

.inline-text {
  white-space: pre-line;
  font-family: 'Consolas', "courier new";
}

.events {
  white-space: normal;
  font-family: 'Consolas', "courier new";
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #74AE43;
}

::ng-deep .mat-tab-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  font-weight: 600;
}
