<form class = "filter-form">
  <md-form-field class = "filter-input" color="accent">
    <input mdInput #filter placeholder="Filter jobs">
  </md-form-field>
</form>

<md-tab-group (selectChange)="toggleActive($event)">
  <md-tab label = "{{statusGroupStringMap.get(0)}}"></md-tab>
  <md-tab label = "{{statusGroupStringMap.get(1)}}"></md-tab>
  <md-tab label = "{{statusGroupStringMap.get(2)}}"></md-tab>
</md-tab-group>

<md-table #table [dataSource]="dataSource">

  <!-- Job name column -->
  <ng-container mdColumnDef="jobName">
    <md-header-cell *mdHeaderCellDef class="first-column">
      <md-checkbox class = "checkbox" [checked]="allSelected" (change)="toggleSelectAll()">
      </md-checkbox>
      Job
    </md-header-cell>
    <md-cell *mdCellDef="let j" class="column first-column">
      <md-checkbox class = "checkbox" [checked]="isSelected(j)" (change)="toggleSelect(j)">
      </md-checkbox>
      <button md-button class="job-details-button" [routerLink]="[j.id]">
        {{j.name}}
      </button>
      <!-- TODO(alahwa): Implement visible drop-down arrow with job details. -->
      <button md-icon-button class="jobs-dropdown-arrow invisible">
        <img src="{{getDropdownArrowUrl()}}">
      </button>
    </md-cell>
  </ng-container>

  <!-- Owner column -->
  <!-- TODO(calbach): Factor these columns into a label-config. -->
  <ng-container mdColumnDef="owner">
    <md-header-cell *mdHeaderCellDef> Owner </md-header-cell>
    <md-cell *mdCellDef="let j" class = "column">
      {{j?.labels['user-id']}}
    </md-cell>
  </ng-container>

  <!-- Status column -->
  <ng-container mdColumnDef="status">
    <md-header-cell *mdHeaderCellDef> Status </md-header-cell>
    <md-cell *mdCellDef="let j" class = "column">
      <button md-icon-button disabled>
        <img mdTooltip="{{j.status}}" mdTooltipPosition="before" src="{{getStatusUrl(j.status)}}">
      </button>
    </md-cell>
  </ng-container>

  <!-- Submitted column -->
  <ng-container mdColumnDef="submitted">
    <md-header-cell *mdHeaderCellDef> Submitted </md-header-cell>
    <md-cell *mdCellDef="let j" class = "column">
      {{j?.start}}
    </md-cell>
  </ng-container>

  <!-- Ended column -->
  <ng-container mdColumnDef="ended">
    <md-header-cell *mdHeaderCellDef> Ended </md-header-cell>
    <md-cell *mdCellDef="let j" class = "column">
      {{j?.end}}
    </md-cell>
  </ng-container>

  <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
  <md-row (mouseenter) ="toggleMouseOver(j)"
          (mouseleave) ="toggleMouseOver(j)"
          [class.selected-row]="isSelected(j)"
          class = "md-row"
          *mdRowDef="let j; columns: displayedColumns;"></md-row>

</md-table>

<div class="group-options" *ngIf="selectedJobs.length > 0">
  {{selectedJobs.length}} jobs selected
  <button md-raised-button color="accent" class="group-button" *ngIf="currentStatusGroup==0"
          (click)="onAbortJobs(selectedJobs)">Abort Jobs</button>
</div>

<md-paginator #paginator
              [length]="jobs.length"
              [pageIndex]="0"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</md-paginator>
