<div class="log-dialog-container">
  <h2 mat-dialog-title *ngIf="data">{{ data.resourceName }}</h2>
  <mat-dialog-content *ngIf="data && data.resourceContents">
    <span *ngIf="data.resourceType != 'json'" class="text">{{data.resourceContents}}</span>
    <span *ngIf="data.resourceType == 'json'" class="json"><ngx-json-viewer #jsonViewer [json]="resourceJson" [expanded]="false"></ngx-json-viewer></span>
  </mat-dialog-content>
  <mat-dialog-actions>
    <a *ngIf="!!data.resourceLink" [href]="data.resourceLink" target="_blank">go to file in Google console</a>
    <a *ngIf="!data.resourceLink && !isExpanded()" (click)="expandJson()">Expand All</a>
  </mat-dialog-actions>
</div>
