argparse==1.2.1
connexion == 1.1.13
# Due to a bug in gsutil, google-compute-engine module must be explicitly
# installed for CircleCI to work.
google-compute-engine==2.7.2
google-api-python-client == 1.5.5
gunicorn == 19.7.1
oauth2client == 3.0.0
# TODO(bryancrampton): Create a dsub release and pin to it before merging
-e git+https://github.com/bfcrampton/dsub.git#egg=dsub
flask-cors == 3.0.3
../jm_utils
