<div class="content">
  <mat-form-field class="query-form">
    <span matPrefix><clr-icon shape="filter-2" size="18" style="color: #888"></clr-icon></span>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let chipKey of getChipKeys()"
        class="chipShell"
        (remove)="removeChip(chipKey)"
        (keyup.enter)="chipToExpand = chipKey">
        <jm-filter-chip
          [chipKey]=chipKey
          [initialChipValue]="chips.get(chipKey)"
          (updateValue)="updateValue(chipKey, $event)"
          (removeChip)="removeChip(chipKey)">
        </jm-filter-chip>
      </mat-chip>
      <input matInput placeholder="Filter jobs"
             [(ngModel)]="inputValue"
             value="{{inputValue}}"
             [matAutocomplete]="auto"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="false"
             (matChipInputTokenEnd)="addChip($event.value)"
             [formControl]="control"/>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
          (click)="addChip(option)">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  </mat-form-field>

  <div *ngIf="showControls" class="search-table-controls">
    <!-- Always include child divs, to support flex box style placement. -->
    <div>
      <ng-container *ngIf="shouldDisplayStatusButtons()">
        <button mat-raised-button class="running-button status-button" (click)="showJobsWithStatus('Running')">
          Running <span *ngIf="shouldDisplayStatusCounts()">({{ getJobsCountForStatus('Running') }})</span>
        </button>
        <button mat-raised-button class="succeeded-button status-button" (click)="showJobsWithStatus('Succeeded')">
          Succeeded <span *ngIf="shouldDisplayStatusCounts()">({{ getJobsCountForStatus('Succeeded') }})</span>
        </button>
        <button mat-raised-button class="failed-button status-button" (click)="showJobsWithStatus('Failed')">
          Failed <span *ngIf="shouldDisplayStatusCounts()">({{ getJobsCountForStatus('Failed') }})</span>
        </button>
        <button mat-raised-button class="aborted-button status-button" (click)="showJobsWithStatus('Aborted')">
          Aborted <span *ngIf="shouldDisplayStatusCounts()">({{ getJobsCountForStatus('Aborted') }})</span>
        </button>
        <button mat-raised-button class="onhold-button status-button" (click)="showJobsWithStatus('OnHold')">
          On Hold <span *ngIf="shouldDisplayStatusCounts()">({{ getJobsCountForStatus('OnHold') }})</span>
        </button>
      </ng-container>
   </div>

    <div>
      <mat-paginator #paginator
                     [length]="jobs.value.results.length"
                     [pageIndex]="0"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="[10, 20, 50, 100]">
      </mat-paginator>
    </div>
  </div>
</div>
