.content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.query-form {
  width: 60%;
  min-width: 60rem;
  padding-top: 0.5rem;
  line-height: 1.5rem;
}

::ng-deep .query-form .mat-input-flex.mat-form-field-flex {
  margin-top: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

::ng-deep .query-form .mat-input-infix {
  padding-top: 0.5rem;
  border-top: none;
  padding-bottom: 0.3rem;
}

::ng-deep .mat-form-field-can-float.mat-form-field-should-float.query-form .mat-form-field-label {
  display: none;
}

.query-form clr-icon {
  vertical-align: top;
  padding: 0 0.5rem;
}

.search-button {
  margin-right: 3rem;
}

.status-button {
  min-width: 7rem;
  margin-right: .5rem;
}

.search-table-controls {
  display: flex;
  min-width: 60rem;
  flex-direction: row;
}

.chipShell {
  padding: 0 !important;
}

::ng-deep .mat-menu-panel.settings-menu {
  min-width: 11em;
}

.table-paginator-container {
  margin-left: auto;
}

.settings-icon-container {
  padding-top: 10px;
}

h2.settings-header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0.5rem 1rem 0 1rem;
  margin: 0;
  font-size: 0.8rem;
  line-height: 1rem;
}

::ng-deep .settings-menu .mat-list .mat-list-item {
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0.5rem 0;
  height: auto;
}

::ng-deep .settings-menu .mat-slide-toggle {
  margin: 0rem 0.5rem;
}

::ng-deep .settings-menu .mat-slide-toggle .mat-slide-toggle-content {
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0.5rem 0.25rem;
}

::ng-deep .settings-menu .mat-slide-toggle .mat-slide-toggle-bar {
  height: 0.5em;
  width: 1.5rem;
}

::ng-deep .settings-menu .mat-slide-toggle .mat-slide-toggle-thumb {
  height: 0.8em;
  width: 0.8em;
}

.settings-button-container {
  padding: 5px;
}

button.apply-link {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  border: none;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

button.apply-link:hover {
  text-decoration: underline;
}

clr-tooltip-content {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0 0.5rem;
  line-height: 1.5rem;
  font-size: 0.65rem;
  color: #fff;
  display: block;
  margin: -0.6rem 0.5rem 0 0;
}

button.clear-query {
  top: 0px;
  left: -50px;
  padding: 0px;
  height: 40px;
  width: 40px;
}
