<div class="content">
  <mat-form-field class="query-form">
    <span matPrefix><clr-icon shape="filter-2" size="18" style="color: #888"></clr-icon></span>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let chipKey of getChipKeys()"
        class="chipShell"
        (remove)="removeChip(chipKey)"
        (keyup.enter)="chipToExpand = chipKey">
        <jm-filter-chip
          [chipKey]=chipKey
          [initialChipValue]="chips.get(chipKey)"
          (updateValue)="updateValue(chipKey, $event)"
          (removeChip)="removeChip(chipKey)">
        </jm-filter-chip>
      </mat-chip>
      <input matInput placeholder="Filter jobs"
             [(ngModel)]="inputValue"
             value="{{inputValue}}"
             [matAutocomplete]="auto"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="false"
             (matChipInputTokenEnd)="addChip($event.value)"
             [formControl]="control"/>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
          (click)="addChip(option)">
          {{ getDisplayForFilter(option) }}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  </mat-form-field>
  <button mat-button *ngIf="hasChipsToClear()" matSuffix mat-icon-button aria-label="Clear" (click)="removeAllChips()" class="clear-query">
    <clr-icon shape="close" size="18"></clr-icon>
  </button>

  <div *ngIf="showControls" class="search-table-controls">
    <!-- Always include child divs, to support flex box style placement. -->
    <div class="status-filter-buttons">
      <ng-container *ngIf="shouldDisplayStatusButtons()">
        <button class="mat-raised-button status-button {{ status | lowercase }}-button" (click)="showJobsWithStatus(status)" *ngFor="let status of buttonStatuses">
          <clr-icon [attr.shape]="getStatusIcon(status)" size="18"></clr-icon>
          {{ status }} <span *ngIf="shouldDisplayStatusCounts()">({{ getJobsCountForStatus(status) }})</span>
        </button>
      </ng-container>
   </div>

    <div class="table-paginator-container">
      <mat-paginator #paginator
                     [length]="jobs.value.results.length"
                     [pageIndex]="0"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="[10, 20, 50, 100]">
      </mat-paginator>
    </div>

    <div class="settings-icon-container">
      <button mat-icon-button class="shard-icon" [matMenuTriggerFor]="settingsMenu" class="settings-icon">
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="cog" size="18"  class="is-solid"></clr-icon>
          <clr-tooltip-content clrPosition="left"  clrSize="xs" *clrIfOpen>
            <span>view settings</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </button>
      <mat-menu #settingsMenu="matMenu" class="wide-menu settings-menu" xPosition="before" yPosition="below" [overlapTrigger]="false">
        <h2 class="settings-header">Displayed columns</h2>
        <mat-list>
          <mat-list-item *ngFor="let df of displayFields">
            <mat-checkbox [checked]="df.primary"
                          (change)="toggleDisplayColumn(df)"
                          (click)="$event.stopPropagation()">{{ df.display }}</mat-checkbox>
          </mat-list-item>
        </mat-list>
        <div *ngIf="getSavedSetting('hideArchived') != null">
          <mat-divider></mat-divider>
          <mat-slide-toggle #hideArchivedToggle class="hide-archived" [checked]="getSavedSetting('hideArchived')" (click)="$event.stopPropagation()">Hide archived jobs</mat-slide-toggle>
        </div>
        <mat-divider></mat-divider>
        <div class="settings-button-container">
          <button class="apply-link" (click)="saveSettings()">Done</button>
        </div>
      </mat-menu>
    </div>
    <div class="sign-out-container" *ngIf="isSignedIn()">
      <button mat-icon-button (click)="signOut()" class="mat-raised-button">
        Sign out
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="logout" size="18"></clr-icon>
          <clr-tooltip-content clrPosition="left"  clrSize="xs" *clrIfOpen>
            <span>sign out</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </button>
    </div>
  </div>
</div>
