.content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.query-form {
  width: 60%;
  min-width: 60rem;
  padding-top: 0.5rem;
  line-height: 1.5rem;
}

::ng-deep .query-form .mat-input-flex.mat-form-field-flex {
  margin-top: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

::ng-deep .query-form .mat-input-infix {
  padding-top: 0.5rem;
  border-top: none;
  padding-bottom: 0.3rem;
}

::ng-deep .mat-form-field-can-float.mat-form-field-should-float.query-form .mat-form-field-label {
  display: none;
}

.query-form clr-icon {
  vertical-align: top;
  padding: 0 0.5rem;
}

.search-button {
  margin-right: 3rem;
}

.status-button {
  min-width: 7rem;
  margin-right: .5rem;
}

.search-table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 60rem;
}

.chipShell {
  padding: 0 !important;
}
