<div class="content">
  <mat-form-field class="query-form">
    <span matPrefix><clr-icon shape="filter-2" size="18" style="color: #888"></clr-icon></span>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let chipKey of getChipKeys()"
        class="chipShell"
        (remove)="removeChip(chipKey)"
        (keyup.enter)="chipToExpand = chipKey">
        <jm-filter-chip
          [chipKey]=chipKey
          [initialChipValue]="chips.get(chipKey)"
          (updateValue)="updateValue(chipKey, $event)"
          (removeChip)="removeChip(chipKey)">
        </jm-filter-chip>
      </mat-chip>
      <input matInput placeholder="Filter jobs"
             [(ngModel)]="inputValue"
             value="{{inputValue}}"
             [matAutocomplete]="auto"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="false"
             (matChipInputTokenEnd)="addChip($event.value)"
             [formControl]="control"/>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
          (click)="addChip(option)">
          {{ getDisplayForFilter(option) }}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  </mat-form-field>

  <div *ngIf="showControls" class="search-table-controls">
    <!-- Always include child divs, to support flex box style placement. -->
    <div>
      <ng-container *ngIf="shouldDisplayStatusButtons()">
        <button mat-raised-button class="status-button active-button" (click)="showActiveJobs()">
          Active <span *ngIf="shouldDisplayStatusCounts()">({{ getActiveCount() }})</span>
        </button>
        <button mat-raised-button class="status-button failed-button" (click)="showFailedJobs()">
          Failed <span *ngIf="shouldDisplayStatusCounts()">({{ getFailedCount() }})</span>
        </button>
        <button mat-raised-button class="status-button completed-button" (click)="showCompletedJobs()">
          Completed <span *ngIf="shouldDisplayStatusCounts()">({{ getCompletedCount() }})</span>
        </button>
        <button mat-raised-button class="status-button onhold-button" (click)="showOnHoldJobs()">
          On Hold <span *ngIf="shouldDisplayStatusCounts()">({{ getOnHoldCount() }})</span>
        </button>
      </ng-container>
   </div>

    <div>
      <mat-paginator #paginator
                     [length]="jobs.value.results.length"
                     [pageIndex]="0"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="[10, 20, 50, 100]">
      </mat-paginator>
    </div>
    <span class="settings-icon-container">
      <button mat-icon-button class="shard-icon" [matMenuTriggerFor]="settingsMenu" class="settings-icon">
        <clr-tooltip>
          <clr-icon clrTooltipTrigger shape="cog" size="18"  class="is-solid"></clr-icon>
          <clr-tooltip-content clrPosition="left"  clrSize="xs" *clrIfOpen>
            <span>view settings</span>
          </clr-tooltip-content>
        </clr-tooltip>
      </button>
    <mat-menu #settingsMenu="matMenu" class="wide-menu settings-menu" xPosition="before" yPosition="below" [overlapTrigger]="false">
      <h2 class="settings-header">Displayed columns</h2>
      <mat-list>
        <mat-list-item *ngFor="let df of displayFields">
          <mat-checkbox [checked]="df.primary"
                        (change)="toggleDisplayColumn(df)"
                        (click)="$event.stopPropagation()">{{ df.display }}</mat-checkbox>
        </mat-list-item>
      </mat-list>
      <div *ngIf="getSavedSetting('hideArchived') != null">
        <mat-divider></mat-divider>
        <mat-slide-toggle #hideArchivedToggle class="hide-archived" [checked]="getSavedSetting('hideArchived')" (click)="$event.stopPropagation()">Hide archived jobs</mat-slide-toggle>
      </div>
      <mat-divider></mat-divider>
      <div class="settings-button-container">
        <button class="apply-link" (click)="saveSettings()">Done</button>
      </div>
    </mat-menu>
    </span>
  </div>
</div>
