mat-table {
  width: 99%;
  display: table;
}

.mat-header-row,
.mat-row {
  display: table-row;
  padding: 0;
}

.mat-row {
  min-height: auto;
}

th {
  color: #999;
  font-weight: normal;
  padding: 0.5rem 1rem;
}

td,
th {
  display: table-cell;
  text-align: left;
  line-height: 1.2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 0.75rem;
}

td {
  padding: 1rem;
}

.mat-table {
  margin-top: 1.25rem;
  display: table;
  border-radius: 5px;
  border: 1px solid #CCCFD4;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
  margin-left: auto;
  margin-right: auto;
}

.mat-header-row, .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

.mat-header-cell, .mat-cell {
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-cell {
  height: auto;
  margin: 0;
}

.mat-header-row {
  background-color: #F1F4F7;
  min-height: auto;
}

.mat-header-cell {
  color: #333F52;
  font-weight: 600;
  padding: 1rem 0.5rem;
}

.mat-header-cell.slim-cell, .mat-cell.slim-cell {
  text-align: right;
}

a {
  color: #5C912E;
}

mat-table.resources-table td.resource-key {
  max-width: 18.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

mat-table.resources-table td.resource-value {
  width: 100%;
}

:host-context(div.mat-menu-panel.input-menu) mat-table.resources-table {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  width: auto;
}

:host-context(div.mat-menu-panel.input-menu) mat-table.resources-table mat-row.mat-row {
  min-height: auto;
  padding: 0;
}

:host-context(div.mat-menu-panel.input-menu) mat-table.resources-table mat-row.mat-row:first-child td {
  border-top: none;
}

:host-context(div.mat-menu-panel.input-menu) mat-table.resources-table td.resource-key,
:host-context(div.mat-menu-panel.input-menu) mat-table.resources-table td.resource-value {
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 1rem;
  vertical-align: top;
  padding: 0.3125rem 0.625rem;
}

:host-context(div.mat-menu-panel.input-menu) mat-table.resources-table td.resource-key {
  max-width: 6.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

:host-context(div.mat-menu-panel.input-menu) mat-table.resources-table td.resource-value {
  min-width: 18.75rem;
  max-width: 37.5rem;
}
