<!-- changed from  <mat-cell> to <td mat-cell> because of display bug -->
<mat-table class="resources-table" #table [dataSource]="entryKeys">
  <ng-container matColumnDef="key">
    <td mat-cell class="resource-key" *matCellDef="let key"> {{ key }} </td>
  </ng-container>
  <ng-container matColumnDef="value">
    <td mat-cell class="resource-value" *matCellDef="let key">
      <a *ngIf="isResourceURL(key)" href="{{ getResourceURL(key) }}" target="_blank">{{ entries[key] }}</a>
      <span *ngIf="!isResourceURL(key)">{{ entries[key] | json }}</span>
    </td>
  </ng-container>

  <mat-row *matRowDef="let row; columns: ['key', 'value'];"></mat-row>
</mat-table>
