.content {
  margin: 1rem;
  clear: left;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

mat-expansion-panel.mat-expansion-panel.content {
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
}

mat-expansion-panel.mat-expansion-panel.content mat-expansion-panel.mat-expansion-panel {
  min-width: 1280px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-top: none;
  box-shadow: none;
}

mat-expansion-panel.mat-expansion-panel.content mat-expansion-panel.mat-expansion-panel.list-header {
  border-top: 1px solid rgba(0, 0, 0, 0.26);
  margin-top: 20px;
}

mat-expansion-panel-header.mat-expansion-panel-header {
  display: flex;
  flex-flow: row;
  line-height: 4rem;
}

mat-expansion-panel.mat-expansion-panel.list-header mat-expansion-panel-header.mat-expansion-panel-header {
  font-size: 0.7rem;
  font-weight: 600;
  background-color: #F1F4F7;
  color: #333F52;
}

mat-expansion-panel.mat-expansion-panel.list-row mat-expansion-panel-header.mat-expansion-panel-header {
  font-size: 0.75rem;
}

mat-expansion-panel.mat-expansion-panel mat-panel-title.mat-expansion-panel-header-title {
  display: block;
}

mat-expansion-panel.mat-expansion-panel mat-panel-title.mat-expansion-panel-header-title .task-name {
  text-align: left;
  min-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

mat-expansion-panel.mat-expansion-panel mat-panel-description.mat-expansion-panel-header-description {
  display: -webkit-box;
  flex-flow: row;
  justify-content: end;
  color: rgba(0, 0, 0, 0.87);
}

mat-expansion-panel.mat-expansion-panel .task-status,
mat-expansion-panel.mat-expansion-panel .task-start,
mat-expansion-panel.mat-expansion-panel .task-duration,
mat-expansion-panel.mat-expansion-panel .task-inputs,
mat-expansion-panel.mat-expansion-panel .task-outputs,
mat-expansion-panel.mat-expansion-panel .task-attempts {
  text-align: left;
}

mat-expansion-panel.mat-expansion-panel .task-start,
mat-expansion-panel.mat-expansion-panel .task-links {
  width: 150px;
}

mat-expansion-panel.mat-expansion-panel.list-header .task-links {
  text-align: center;
}

mat-expansion-panel.mat-expansion-panel .task-status,
mat-expansion-panel.mat-expansion-panel .task-duration,
mat-expansion-panel.mat-expansion-panel .task-inputs,
mat-expansion-panel.mat-expansion-panel .task-outputs,
mat-expansion-panel.mat-expansion-panel .task-attempts {
  width: 110px;
}

mat-expansion-panel.mat-expansion-panel .task-attempts {
  text-align: right;
}

mat-expansion-panel.mat-expansion-panel .mat-expansion-panel-header[aria-disabled='true'] {
  padding-right: 32px;
  color: rgba(0, 0, 0, 0.87);
}

mat-expansion-panel.mat-expansion-panel .task-links,
mat-expansion-panel.mat-expansion-panel .task-attempts {
  text-align: right;
}

mat-expansion-panel-header,
mat-expansion-panel.mat-expansion-panel .mat-expansion-panel-body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

mat-expansion-panel.mat-expansion-panel .task-inputs clr-icon,
mat-expansion-panel.mat-expansion-panel .task-outputs clr-icon {
  color: #5C912E;
}

mat-expansion-panel.mat-expansion-panel .task-duration clr-icon {
  padding-left: 5px;
}

::ng-deep mat-expansion-panel.mat-expansion-panel mat-expansion-panel.mat-expansion-panel .mat-expansion-panel-body {
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.26);
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

mat-expansion-panel.mat-expansion-panel.content  mat-expansion-panel.mat-expansion-panel.mat-expanded clr-icon {
  color: #ccc;
}

mat-expansion-panel.mat-expansion-panel.content  mat-expansion-panel.mat-expansion-panel.mat-expanded mat-panel-description.mat-expansion-panel-header-description {
  color: #ccc;
}

mat-expansion-panel.mat-expansion-panel.content  mat-expansion-panel.mat-expansion-panel.mat-expanded mat-panel-description.mat-expansion-panel-header-description .task-attempts {
  color: rgba(0, 0, 0, 0.87);
}

mat-expansion-panel.mat-expansion-panel.content  mat-expansion-panel.mat-expansion-panel.mat-expanded .task-name {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
}

mat-dialog-container.mat-dialog-container {
  overflow: visible;
}

.header {
  margin-right: 1rem;
}

.title {
  margin-top: .6rem;
  margin-bottom: .6rem;
  font-size: 1.2rem;
  color: gray;
}

.title-link {
  color: black;
}

a.title-link {
  text-decoration: underline;
  cursor: pointer;
}

.mat-expansion-panel.has-tasks {
  overflow: hidden;
}

::ng-deep .mat-tab-body-wrapper .mat-tab-body.mat-tab-body-active {
  overflow-y: hidden;
  z-index: 1;
}

::ng-deep .mat-tab-body-active .mat-tab-body-content {
  overflow: hidden;
}

::ng-deep .mat-tab-labels  {
  justify-content: flex-start;
}

::ng-deep .mat-tab-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  font-weight: 600;
  color: #333F52;
}

clr-tooltip-content {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0.25rem 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.65rem;
  line-height: 0.65rem;
  color: #fff;
  display: block;
  margin: -0.6rem 0.5rem 0 0;
  height: auto;
}

::ng-deep .shards-menu.mat-menu-panel {
  overflow: visible;
}

clr-icon {
  margin-right: 1rem;
}

a.title-link, p.title-nolink {
  display: inline-flex;
}

.scatter-icon {
  display: block;
  float: right;
  color: #5C912E;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #74AE43;
}

.task-name {
  width: 50%;
}

.task-status {
  width: 30%;
  text-align: right;
}

.task-links {
  width: 15%;
  text-align: right;
  min-width: 100px;
}

::ng-deep div.mat-menu-panel.input-menu {
  max-width: 700px;
  max-height: 600px;
}
