.content {
  margin: 1rem;
  clear: left;
  min-width: 1230px;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

mat-expansion-panel.mat-expansion-panel.content {
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
}

mat-expansion-panel.mat-expansion-panel.content mat-expansion-panel.mat-expansion-panel {
  min-width: 1080px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-top: none;
  box-shadow: none;
}

mat-expansion-panel.mat-expansion-panel.content mat-expansion-panel.mat-expansion-panel.list-header {
  border-top: 1px solid rgba(0, 0, 0, 0.26);
  margin-top: 1.25rem;
}

mat-expansion-panel-header.mat-expansion-panel-header {
  display: flex;
  flex-flow: row;
  line-height: 4rem;
}

mat-expansion-panel.mat-expansion-panel.list-header mat-expansion-panel-header.mat-expansion-panel-header {
  font-size: 0.7rem;
  font-weight: 600;
  background-color: #F1F4F7;
  color: #333F52;
}

mat-expansion-panel.mat-expansion-panel.list-row mat-expansion-panel-header.mat-expansion-panel-header {
  font-size: 0.75rem;
}

mat-expansion-panel.mat-expansion-panel mat-panel-title.mat-expansion-panel-header-title {
  display: flex;
}

mat-expansion-panel.mat-expansion-panel mat-panel-title.mat-expansion-panel-header-title .task-name {
  text-align: left;
  padding-right: 10px;
  min-width: 170px;
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-expansion-panel.mat-expansion-panel mat-panel-description.mat-expansion-panel-header-description {
  display: -webkit-box;
  flex-flow: row;
  justify-content: end;
  color: rgba(0, 0, 0, 0.87);
}

mat-expansion-panel.mat-expansion-panel .task-status,
mat-expansion-panel.mat-expansion-panel .task-start,
mat-expansion-panel.mat-expansion-panel .task-duration,
mat-expansion-panel.mat-expansion-panel .task-inputs,
mat-expansion-panel.mat-expansion-panel .task-outputs,
mat-expansion-panel.mat-expansion-panel .task-attempts {
  text-align: left;
}

::ng-deep .mat-tab-labels  {
  justify-content: flex-start;
  background: none;
  border-bottom: 2px #74AE43 solid;
  text-transform: uppercase;
}

mat-expansion-panel.mat-expansion-panel .task-start {
  width: 9.375rem;
}

mat-expansion-panel.mat-expansion-panel .task-links {
  width: 11.25rem;
}

mat-expansion-panel.mat-expansion-panel.list-header .task-links {
  text-align: center;
}

mat-expansion-panel.mat-expansion-panel .task-status,
mat-expansion-panel.mat-expansion-panel .task-duration,
mat-expansion-panel.mat-expansion-panel .task-inputs,
mat-expansion-panel.mat-expansion-panel .task-outputs,
mat-expansion-panel.mat-expansion-panel .task-attempts {
  width: 5rem;
}

mat-expansion-panel.mat-expansion-panel .task-attempts {
  text-align: right;
}

mat-expansion-panel.mat-expansion-panel .mat-expansion-panel-header[aria-disabled='true'] {
  padding-right: 32px;
  color: rgba(0, 0, 0, 0.87);
}

mat-expansion-panel.mat-expansion-panel .task-links,
mat-expansion-panel.mat-expansion-panel .task-attempts {
  text-align: right;
}

mat-expansion-panel-header,
mat-expansion-panel.mat-expansion-panel .mat-expansion-panel-body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background: none;
  opacity: 1;
  color: #333F52;
}

mat-expansion-panel.mat-expansion-panel .task-inputs clr-icon,
mat-expansion-panel.mat-expansion-panel .task-outputs clr-icon {
  color: #5C912E;
}

mat-expansion-panel.mat-expansion-panel .task-duration clr-icon {
  padding-left: 5px;
}

::ng-deep mat-tab-group.mat-tab-group.mat-primary .mat-tab-label:focus,
::ng-deep mat-tab-group.mat-tab-group.mat-primary .mat-tab-link:focus,
::ng-deep mat-tab-group.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,
::ng-deep mat-tab-group.mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  color: #333F52;
  background: none;
}

::ng-deep .mat-tab-label.mat-tab-label-active,
::ng-deep mat-tab-group.mat-tab-group.mat-primary .mat-tab-label.mat-tab-label-active:focus,
::ng-deep .mat-tab-label:hover {
  font-weight: 600;
  opacity: 1;
  background-color: rgba(116,174,67,0.15);
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #74AE43;
  height: 0.5rem;
}

.mat-table {
  margin-top: 20px;
  display: table;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #CCCFD4;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
}

::ng-deep mat-expansion-panel.mat-expansion-panel mat-expansion-panel.mat-expansion-panel .mat-expansion-panel-body {
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.26);
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  overflow: visible;
}

mat-expansion-panel.mat-expansion-panel.content  mat-expansion-panel.mat-expansion-panel.mat-expanded clr-icon {
  color: #ccc;
}

mat-expansion-panel.mat-expansion-panel.content  mat-expansion-panel.mat-expansion-panel.mat-expanded mat-panel-description.mat-expansion-panel-header-description {
  color: #ccc;
}

mat-expansion-panel.mat-expansion-panel.content  mat-expansion-panel.mat-expansion-panel.mat-expanded mat-panel-description.mat-expansion-panel-header-description .task-attempts {
  color: rgba(0, 0, 0, 0.87);
}

mat-expansion-panel.mat-expansion-panel.content  mat-expansion-panel.mat-expansion-panel.mat-expanded .task-name {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
}

mat-dialog-container.mat-dialog-container {
  overflow: visible;
}

.header {
  margin-right: 1rem;
}

.title {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
  color: gray;
}

.title-link {
  color: black;
}

::ng-deep .task-name a.title-link {
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}

::ng-deep div.mat-tab-body-wrapper {
  overflow: visible;
}

::ng-deep .mat-tab-body-wrapper .mat-tab-body.mat-tab-body-active,
::ng-deep .mat-tab-body-active .mat-tab-body-content {
  z-index: 1;
  overflow: visible;
}

::ng-deep .mat-tab-labels  {
  justify-content: flex-start;
}

::ng-deep .mat-tab-label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  font-weight: 600;
  color: #333F52;
}

clr-tooltip-content {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0.25rem 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.65rem;
  line-height: 0.65rem;
  color: #fff;
  display: block;
  margin: -0.6rem 0.5rem 0 0;
  height: auto;
}

::ng-deep .shards-menu.mat-menu-panel {
  overflow: visible;
}

::ng-deep .shards-menu.mat-menu-panel clr-tooltip-content {
  margin-right: 0.25rem;
}

clr-icon {
  margin-right: 1rem;
}

.shards-container {
  display: inline-flex;
  flex-direction: row;
}

.shards-header {
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 0 0.5rem 0 0.5rem;
  font-weight: bold;
}

.shards-statuses {
  margin: 0.5rem;
}

.shard-count {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

.shard-status clr-icon {
  margin-right: 0;
}

.task-status clr-icon,
.task-inputs clr-icon,
.task-outputs clr-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.task-duration clr-icon {
  width: 0.875rem;
  height: 0.875rem;
  color:rgba(0, 0, 0, 0.54)
}

.scatter-icon clr-icon {
  color: #5C912E;
  width: 1.5rem;
  height: 1.5rem;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #74AE43;
}

::ng-deep div.mat-menu-panel.input-menu {
  max-width: 43.75rem;
  max-height: 34rem;
}
