* {
  font-family: 'Roboto', sans-serif;
}

.content {
  margin: 1rem;
  clear: left;
}

.header {
  margin-right: 1rem;
}

.title {
  margin-top: .6rem;
  margin-bottom: .6rem;
  font-size: 1.2rem;
  color: gray;
}

.title-link {
  color: black;
}

a.title-link {
  text-decoration: underline;
  cursor: pointer;
}

.mat-expansion-panel.has-tasks {
  overflow: hidden;
}

::ng-deep .mat-tab-body-active .mat-tab-body-content {
  overflow: hidden;
}

::ng-deep .mat-expansion-panel-header.title {
  display: inline;
  padding-top: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  position: absolute;
}

::ng-deep .mat-tab-labels  {
  justify-content: flex-end;
}

.mat-table {
  display: table;
  width: 100%;
}

.mat-header-row, .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

.mat-header-cell, .mat-cell {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  padding: 0 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-header-cell.slim-cell, .mat-cell.slim-cell {
  text-align: right;
}

.log-item {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

clr-tooltip-content {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0.25rem 0.5rem;
  font-size: 0.65rem;
  line-height: 0.65rem;
  color: #fff;
  display: block;
  margin: -0.6rem 0.5rem 0 0;
  height: auto;
}

::ng-deep .shards-menu.mat-menu-panel {
  overflow: visible;
}

::ng-deep .shards-menu.mat-menu-panel clr-tooltip-content {
  margin-right: 0.25rem;
}

clr-icon {
  margin-right: 1rem;
}

/* override default color of alert triangle for clarity icon */
::ng-deep clr-icon.log-error .clr-i-alert.clr-i-outline--alerted {
  fill: #e62700;
}

::ng-deep clr-icon.log-error.disabled .clr-i-alert.clr-i-outline--alerted {
  fill: currentColor;
}

a.title-link, p.title-nolink {
  display: inline-flex;
}

button.shard-icon {
  display: inline-flex;
  margin-left: 1.5rem;
}

.shards-container {
  display: inline-flex;
  flex-direction: row;
}

.shards-header {
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin: 0 0.5rem 0 0.5rem;
  font-weight: bold;
}

.shards-statuses {
  margin: 0.5rem;
}

.shard-count {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

.shard-status clr-icon {
  margin: 0 auto;
}
