<mat-expansion-panel class="content" expanded="true" [disabled]="true" [ngClass]="{'has-tasks' : hasTasks()}" #tabsPanel>
  <mat-tab-group [(selectedIndex)]="selectedTab">
    <mat-tab *ngIf="hasTasks()" label="List View">
      <mat-table [dataSource]="dataSource">
        <!-- Task name column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let t" class="task-title">
            <a class="title-link" *ngIf="t.jobId" (click)="navigateDown(t.jobId)">{{ t.name }}</a>
            <p *ngIf="!t.jobId" class="title-nolink">{{ t.name }}</p>
          </mat-cell>
        </ng-container>

        <!-- Shard Statuses column -->
        <ng-container matColumnDef="taskInfoIcons">
          <mat-header-cell *matHeaderCellDef class="slim-cell"></mat-header-cell>
          <mat-cell *matCellDef="let t" class="slim-cell">
            <button *ngIf="t.shardStatuses" mat-icon-button class="shard-icon" [matMenuTriggerFor]="shardMenu">
              <clr-tooltip>
                <clr-icon clrTooltipTrigger shape="layers" size="24"  class="is-solid"></clr-icon>
                <clr-tooltip-content clrPosition="left"  clrSize="xs" *clrIfOpen>
                  <span>task shards</span>
                </clr-tooltip-content>
              </clr-tooltip>
            </button>
            <mat-menu #shardMenu="matMenu" class="wide-menu shards-menu" xPosition="after" yPosition="below" [overlapTrigger]="false">
              <div class="shards-header">Scattered: {{ getScatteredCountTotal(t) }} shards</div>
              <div class="shards-container" *ngIf="t.shardStatuses">
                <div class="shards-statuses" *ngFor="let jobStatus of getShardStatuses()">
                  <div class="shard-status">
                    <clr-tooltip>
                      <clr-icon clrTooltipTrigger [attr.shape]="getStatusIcon(jobStatus)" size="18"></clr-icon>
                      <clr-tooltip-content clrPosition="left"  clrSize="xs" *clrIfOpen>
                        <span>{{ jobStatus }}</span>
                      </clr-tooltip-content>
                    </clr-tooltip>
                  </div>
                  <div class="shard-count">{{ getShardCountByStatus(t, jobStatus) }}</div>
                </div>
              </div>
            </mat-menu>
            <clr-tooltip *ngIf="t.callCached">
              <clr-icon clrTooltipTrigger shape="copy" size="24"></clr-icon>
              <clr-tooltip-content clrPosition="left" clrSize="xs" *clrIfOpen>
                <span>This task was cached</span>
              </clr-tooltip-content>
            </clr-tooltip>
          </mat-cell>
        </ng-container>

        <!-- Status column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let t">
            <clr-tooltip>
              <clr-icon clrTooltipTrigger [attr.shape]="getStatusIcon(t.executionStatus)" size="24"></clr-icon>
              <clr-tooltip-content clrPosition="left" clrSize="xs" *clrIfOpen>
                <span>{{ t.executionStatus }}</span>
              </clr-tooltip-content>
            </clr-tooltip>
          </mat-cell>
        </ng-container>

        <!-- Task detail columns -->
        <ng-container matColumnDef="startTime">
          <mat-header-cell *matHeaderCellDef> Start Time </mat-header-cell>
          <mat-cell *matCellDef="let t" class="column">
            <jm-datetime [datetime]="t.start"></jm-datetime>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
          <mat-cell *matCellDef="let t" class="column">{{ t.start | jmDuration: t.end }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="attempts">
          <mat-header-cell *matHeaderCellDef> Attempts </mat-header-cell>
          <mat-cell *matCellDef="let t" class="column">{{ t.attempts }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="files">
          <mat-header-cell *matHeaderCellDef> Log files </mat-header-cell>
          <mat-cell *matCellDef="let t" class="column">
            <clr-tooltip *ngIf="getResourceUrl(t.stdout)">
              <a class="log-item" href="{{ getResourceUrl(t.stdout) }}" target="_blank">
                <clr-icon clrTooltipTrigger shape="file" size="24"></clr-icon>
                <clr-tooltip-content clrPosition="top-left" clrSize="xs" *clrIfOpen>
                  <span>stdout log</span>
                </clr-tooltip-content>
              </a>
            </clr-tooltip>
            <clr-icon *ngIf="!getResourceUrl(t.stdout)" shape="file" size="24" style="color: #ccc;"></clr-icon>
            <clr-tooltip *ngIf="getResourceUrl(t.stderr)">
              <a class="log-item" href="{{ getResourceUrl(t.stderr) }}" target="_blank">
                <clr-icon clrTooltipTrigger shape="file" size="24" class="has-alert log-error" style="color: #000;"></clr-icon>
                <clr-tooltip-content clrPosition="top-left" clrSize="xs" *clrIfOpen>
                  <span>stderr log</span>
                </clr-tooltip-content>
              </a>
            </clr-tooltip>
            <clr-icon *ngIf="!getResourceUrl(t.stderr)" shape="file" size="24" class="has-alert log-error disabled" style="color: #ccc;"></clr-icon>
            <clr-tooltip *ngIf="getTaskDirectory(t)">
              <a class="log-item" href="{{ getTaskDirectory(t) }}" target="_blank">
                <clr-icon clrTooltipTrigger shape="folder" size="24"></clr-icon>
                <clr-tooltip-content clrPosition="top-left" clrSize="xs" *clrIfOpen>
                  <span>execution directory</span>
                </clr-tooltip-content>
              </a>
            </clr-tooltip>
            <clr-icon *ngIf="!getTaskDirectory(t)" shape="folder" size="24" style="color: #ccc;"></clr-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let t; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-tab>
    <!-- Task failures tab -->
    <mat-tab *ngIf="hasFailures()" label="Errors">
      <jm-failures-table [failures]="job.failures"
                         [numToShow]="job.failures.length"
                         [showHeaders]="true"
                         [displayedColumns]="['name','message','links']"
                         [context]="'tab'">
      </jm-failures-table>
    </mat-tab>
    <!-- Task inputs tab -->
    <mat-tab *ngIf="hasInputs()" label="Inputs">
      <jm-resources-table [entries]="job.inputs"></jm-resources-table>
    </mat-tab>
    <!-- Task outputs tab -->
    <mat-tab *ngIf="hasOutputs()" label="Outputs">
      <jm-resources-table [entries]="job.outputs"></jm-resources-table>
    </mat-tab>
    <!-- Task timing diagram tab -->
    <mat-tab *ngIf="hasTasks()" label="Timing Diagram">
      <jm-timing-diagram [metadata]="job.extensions.tasks" [tabWidth]="tabWidth"></jm-timing-diagram>
    </mat-tab>
  </mat-tab-group>
</mat-expansion-panel>
