<form class="form">
  <mat-card class="projects-card">
    <mat-form-field class="form-field">
      <input matInput
             autofocus
             class="input-field"
             placeholder="Project ID"
             [matAutocomplete]="auto"
             [formControl]="projectsControl">
      <mat-autocomplete #auto="matAutocomplete"
                        [autoActiveFirstOption]=true
                        (optionSelected)="navigateJobs()">
        <mat-option *ngFor="let project of projectsObservable | async" [value]="project">
          <span><div class="project-id">{{ project }}</div></span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-button
            (click)="navigateJobs()"
            [disabled]="!viewJobsEnabled">
      View Jobs
    </button>
  </mat-card>
</form>
