.header-container {
  height: 66px;
  background: #74AE43 url('/assets/images/header-left-hexs.svg') top right no-repeat;
  width: 100%;
  position: fixed;
  z-index: 999;
}

h1 {
  background: transparent url('/assets/images/header-left-hexs.svg') top left no-repeat;
  padding: 22px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  height: 22px;
  margin: 0;
}

.sign-out-container button.mat-raised-button {
  position: absolute;
  right: 15px;
  margin-top: -47px;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  width: 122px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #B0D239;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: none;
}
