.mat-dialog-content {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.85rem;
}

label {
  display: block;
  font-weight: bold;
}

button {
  font-weight: bold;
  font-size: .75rem;
  text-transform: uppercase;
}
