/* Job Manager table */
* {
  font-family: 'Roboto', sans-serif;
}

.mat-table {
  display: table;
  width: 100%;
}

.mat-header-row, .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

.mat-header-cell, .mat-cell {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  padding: 0 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20rem;
}

.selected-row {
  background-color: #E8F0FE !important;
}

.mat-row:hover {
  background-color: #F5F5F5;
}

/*.leftdiv {*/
  /*height: 100%;*/
  /*width: 80%;*/
/*}*/

/*.rightdiv {*/
  /*display:inline-block;*/
  /*height: 100%;*/
  /*width: 20%;*/
  /*align-content: center;*/
  /*vertical-align: center;*/
/*}*/

.job-details-button {
  text-decoration: underline;
}

/*.checkbox {*/
  /*margin-right: 1rem;*/
  /*float: left;*/
  /*display: inline-block;*/
/*}*/

/* Job details dropdown */
.jobs-dropdown-arrow {
  visibility: hidden;
  float: right;
  margin-right: 4rem;
  display: inline-block;
}

.visible {
  visibility: visible !important;
}

.mat-card {
  box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/* Pause, Delete, and Group buttons */
.group-options {
  float: left;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: .65rem;
  padding: .65rem;
}

.group-button {
  font-weight: bold;
  font-size: .65rem;
  text-transform: uppercase;
  margin: .65rem;
}
