<mat-table #table [dataSource]="dataSource">

  <!-- Job name column -->
  <ng-container matColumnDef="Job">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox class = "checkbox"
                    (change)="$event ? toggleSelectAll() : null"
                    [checked]="allSelected()"
                    [indeterminate]="partiallySelected()">
      </mat-checkbox>
      Job
    </mat-header-cell>
    <mat-cell *matCellDef="let j">
      <mat-checkbox class = "checkbox"
                    (change)="$event ? selection.toggle(j) : null"
                    [checked]="selection.isSelected(j)">
      </mat-checkbox>
      <a mat-button class="job-details-button" [routerLink]="[j.id]" [queryParams]="getQueryParams()">{{ j.name }}</a>

      <button mat-icon-button class="jobs-dropdown-arrow"
              [class.visible]="showDropdownArrow(j)"
              [matMenuTriggerFor]="menu">
        <img src="{{ getDropdownArrowUrl() }}">
      </button>
      <mat-menu #menu="matMenu" class="details-menu">
        <mat-card>
          <mat-card-title>{{ j.name }}</mat-card-title>
          <p>{{ j.status }}</p>
          <p>Submitted: {{ j.submission | jmShortDateTime }}</p>
        </mat-card>

        <a mat-menu-item [routerLink]="[j.id]" [queryParams]="getQueryParams()">
          <button mat-icon-button>
            <img src="https://www.gstatic.com/images/icons/material/system/1x/arrow_forward_grey600_24dp.png">
          </button>
          <span>Job details</span>
        </a>

        <button mat-menu-item *ngIf="canAbort(j)" (click)="abortJob(j)">
          <button mat-icon-button>
            <img src="https://www.gstatic.com/images/icons/material/system/1x/cancel_grey600_24dp.png">
          </button>
          <span>Abort job</span>
        </button>
      </mat-menu>

    </mat-cell>
  </ng-container>

  <!-- Status column -->
  <ng-container matColumnDef="Status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let j">
      <button mat-icon-button disabled>
        <img matTooltip="{{ j.status }}" matTooltipPosition="before"
             src="{{ getStatusUrl(j.status) }}">
      </button>
    </mat-cell>
  </ng-container>

  <!-- Submitted column -->
  <ng-container matColumnDef="Submitted">
    <mat-header-cell *matHeaderCellDef> Submitted </mat-header-cell>
    <mat-cell id="submitted-column" *matCellDef="let j">{{ j.submission | jmShortDateTime }}</mat-cell>
  </ng-container>

  <!-- Implementation-specific additional columns -->
  <ng-container *ngFor="let c of additionalColumns">
    <ng-container matColumnDef="{{ c }}">
      <mat-header-cell *matHeaderCellDef>{{ c }}</mat-header-cell>
      <mat-cell class="additional-column" *matCellDef="let j">{{ getJobLabel(j, c) }}</mat-cell>
    </ng-container>
  </ng-container>

  <!-- Column definitions -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class = "mat-row"
           (mouseenter) ="toggleMouseOver(j)"
           (mouseleave) ="toggleMouseOver(j)"
           [class.selected-row]="selection.isSelected(j)"
           *matRowDef="let j; columns: displayedColumns;"></mat-row>

</mat-table>

<div class="group-options" *ngIf="canAbortAnySelected()">
  {{ selection.selected.length }} jobs selected
  <button mat-raised-button color="accent" class="group-button group-abort"
          (click)="onAbortJobs()">Abort Jobs</button>
</div>
