/* Job Manager table */

.mat-table {
  display: table;
  width: 100%;
}

.mat-header-row, .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

::ng-deep .mat-header-cell, ::ng-deep .mat-cell {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  padding: 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  max-width: 40rem;
  white-space: nowrap;
  margin: 0 50px 0 0;
}

.display-field {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-select {
  overflow: initial;
}

.selected-row {
  background-color: #E8F0FE !important;
}

.mat-row:hover {
  background-color: #F5F5F5;
}

.checkbox {
  float: left;
  margin-right: 1rem;
}

.job-details-button {
  text-decoration: underline;
  text-align: center;
  float: left;
  cursor: pointer;
  color: black;
}

/* Job details dropdown */
.details-drop-down-cell {
  max-width: 2rem;
}

.jobs-dropdown-arrow {
  visibility: hidden;
  float: left;
  margin-right: 4rem;
  display: inline-block;
}

.visible {
  visibility: visible !important;
}

.mat-menu-panel.details-menu .mat-list-item a clr-icon {
  padding-right: 10px;
}

::ng-deep .mat-menu-panel.details-menu {
  width: auto;
  overflow: visible;
  padding: 12px 24px 24px 24px;
}

::ng-deep .mat-menu-panel.field-menu {
  width: auto;
  overflow: visible;
  padding: 0px 15px;
}

::ng-deep .mat-menu-panel.details-menu .mat-card-subtitle {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

::ng-deep .mat-menu-panel.details-menu .mat-card-actions {
  padding-top: 0;
}

::ng-deep .mat-menu-panel.details-menu .mat-list .mat-list-item {
  height: auto;
  margin: 1rem 0;
  padding-left: 0;
}

::ng-deep .mat-menu-panel.details-menu .mat-card {
  box-shadow: none;
  border-bottom: none;
  padding: 0;
}

::ng-deep a.inline-filter {
  display: block;
  cursor: pointer;
  max-width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .mat-menu-panel.details-menu mat-card a,
::ng-deep .mat-menu-panel.details-menu mat-card a clr-icon {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  white-space: nowrap;
  text-decoration: none;
}

/* Pause, Delete, and Group buttons */
.group-options {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: .65rem;
  padding: .65rem;
}

.group-button {
  font-weight: bold;
  font-size: .65rem;
  text-transform: uppercase;
  margin: .65rem;
}

/* Label Editing */
.edit-field {
  display: flex;
  flex-direction: row;
}

.edit-field .mat-icon-button {
  height: 18px;
  flex-shrink: 0;
  line-height: 0;
  border-radius: 0;
}

.edit-field .field-value {
  width: 100%;
}

button.apply-link {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  border: none;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

button.apply-link:hover {
  text-decoration: underline;
}

::ng-deep mat-form-field.mat-form-field-type-mat-select .mat-form-field-infix {
  padding-top: 0.8rem;
}

::ng-deep mat-form-field.mat-form-field-type-mat-select div.mat-input-underline {
  display: none;
}

::ng-deep mat-form-field.mat-form-field-type-mat-select .mat-select-arrow {
  color: rgba(0, 0, 0, 0);
}

::ng-deep .mat-row:hover div.mat-input-underline {
  display: block;
}

::ng-deep .mat-row:hover mat-form-field.mat-form-field-type-mat-select .mat-select-arrow {
  color: rgba(0, 0, 0, 0.54);
}

::ng-deep .mat-select-content,
::ng-deep div.mat-menu-content mat-form-field input,
::ng-deep .mat-menu-content.filter-menu {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.85rem;
}

clr-tooltip-content {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0.25rem;
  font-size: 0.65rem;
  color: #fff;
  display: block;
  margin: -0.6rem 0.5rem 0 0;
}

.mat-menu-content.filter-menu clr-tooltip-content {
  margin: 0.25rem 0 0 5rem;
}
