/* Job Manager table */


.mat-table {
  margin: 0 1rem;
  width: 95%;
  display: table;
  border-radius: 5px;
  border: 1px solid #CCCFD4;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 3px 2px 0 rgba(0,0,0,0.12);
}

.mat-header-row, .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

.mat-header-cell, .mat-cell {
  display: table-cell;
  vertical-align: middle;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-cell {
  height: auto;
  font-size: 0.75rem;
}

.mat-header-cell {
  font-size: 0.7rem;
  white-space: nowrap;
}

.mat-header-row {
  background-color: #F1F4F7;
  min-height: 3rem;
}

.mat-header-cell {
  color: #333F52;
  font-weight: 600;
}

.display-field {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-select {
  overflow: initial;
}

.selected-row {
  background-color: #E8F0FE !important;
}

.mat-row:hover {
  background-color: #F5F5F5;
}

.checkbox {
  float: left;
  margin-right: 1rem;
}

.job-details-button {
  text-decoration: underline;
  text-align: center;
  float: left;
  cursor: pointer;
  color: black;
  font-size: 0.75rem;
}

/* Job details dropdown */
.details-drop-down-cell {
  max-width: 2rem;
}

.jobs-dropdown-arrow {
  visibility: hidden;
  float: left;
  margin-right: 4rem;
  display: inline-block;
}

.visible {
  visibility: visible !important;
}

.mat-menu-panel.details-menu .mat-list-item a clr-icon {
  padding-right: 0.625rem;
}

clr-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.task-status clr-icon {
  width: 1.5rem;
  height: 1.5rem;
}

::ng-deep .mat-menu-panel.details-menu {
  width: auto;
  overflow: visible;
  padding: 0.75rem 1.5rem 1.5rem 1.5rem;
}

::ng-deep .mat-menu-panel.field-menu {
  width: auto;
  overflow: visible;
  padding: 0px 1rem;
}

::ng-deep .mat-menu-panel.details-menu .mat-card-subtitle {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  color: #000;
}

::ng-deep .mat-menu-panel.details-menu .mat-card-actions {
  padding-top: 0;
}

::ng-deep .mat-menu-panel.details-menu .mat-list .mat-list-item {
  height: auto;
  margin: 0.5rem 0;
  padding-left: 0;
}

::ng-deep .mat-menu-panel.details-menu .mat-card {
  box-shadow: none;
  border-bottom: none;
  padding: 0;
}

::ng-deep a.inline-filter {
  display: block;
  cursor: pointer;
  max-width: 13.125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep .mat-menu-panel.details-menu mat-card a,
::ng-deep .mat-menu-panel.details-menu mat-card a clr-icon {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.75rem;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
}

/* Pause, Delete, and Group buttons */
.group-options {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  font-weight: bold;
  font-size: 0.65rem;
  padding: 0.65rem;
}

.group-button {
  font-weight: bold;
  font-size: 0.65rem;
  text-transform: uppercase;
  margin: 0.65rem;
}

/* Label Editing */
.edit-field {
  display: flex;
  flex-direction: row;
}

.edit-field .mat-icon-button {
  height: 1.125rem;
  flex-shrink: 0;
  line-height: 0;
  border-radius: 0;
}

.edit-field .field-value {
  width: 100%;
}

div.button-container {
  text-align: right;
}

button.apply-link {
  font-size: 0.75rem;
  border: none;
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #74AE43;
}

button.apply-link:hover {
  text-decoration: underline;
}

::ng-deep mat-form-field.mat-form-field-type-mat-select .mat-form-field-infix {
  padding-top: 0.8rem;
}

::ng-deep mat-form-field.mat-form-field-type-mat-select div.mat-input-underline {
  display: none;
}

::ng-deep mat-form-field.mat-form-field-type-mat-select .mat-select-arrow {
  color: rgba(0, 0, 0, 0);
}

::ng-deep .mat-row:hover div.mat-input-underline {
  display: block;
}

::ng-deep .mat-row:hover mat-form-field.mat-form-field-type-mat-select .mat-select-arrow {
  color: rgba(0, 0, 0, 0.54);
}

::ng-deep .mat-select-content,
::ng-deep div.mat-menu-content mat-form-field input,
::ng-deep .mat-menu-content.filter-menu {
  font-size: 0.75rem;
}

::ng-deep div.mat-menu-content mat-form-field input {
  background-color: #EBEDEF;
  margin: 0;
  border-radius: 5px;
  padding: 0.5rem 0;
  line-height: 1rem;
}

::ng-deep mat-form-field.mat-form-field-type-mat-select .mat-form-field-infix.mat-input-infix {
  padding-top: 0;
}

clr-tooltip-content {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0.25rem 0.5rem;
  font-size: 0.65rem;
  color: #fff;
  display: block;
  margin: -0.6rem 0.5rem 0 0;
}

.mat-menu-content.filter-menu clr-tooltip-content {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0 0 5rem;
}
