<mat-table #table [dataSource]="dataSource" [ngStyle]="{'padding-bottom': showSelectionBar() ? '4.8rem' : '0'}">

  <!-- Checkbox column -->
  <ng-container matColumnDef="Checkbox">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox class = "checkbox"
                    (change)="$event ? toggleSelectAll() : null"
                    [checked]="allSelected()"
                    [indeterminate]="partiallySelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let j">
        <mat-checkbox class = "checkbox"
                      (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(j) : null"
                      [checked]="selection.isSelected(j)">
        </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Job name column -->
  <ng-container matColumnDef="Job">
    <mat-header-cell *matHeaderCellDef>Job</mat-header-cell>
    <mat-cell *matCellDef="let j">
      <a class="job-details-button mat-body-1"
         [routerLink]="[j.id]"
         [queryParams]="getQueryParams()">
         {{ j.name }}
       </a>
     </mat-cell>
   </ng-container>

  <!-- Job details dropdown column -->
  <ng-container matColumnDef="Details">
    <mat-header-cell class="details-drop-down-cell" *matHeaderCellDef></mat-header-cell>
    <mat-cell class="details-drop-down-cell" *matCellDef="let j">
      <button mat-icon-button class="jobs-dropdown-arrow"
              [class.visible]="showDropdownArrow(j)"
              [matMenuTriggerFor]="menu">
        <img src="{{ getDropdownArrowUrl() }}">
      </button>
      <mat-menu #menu="matMenu" class="details-menu">
        <mat-card>
          <mat-card-title>{{ j.name }}</mat-card-title>
          <p>{{ j.status }}</p>
          <p>Submitted: {{ j.submission | jmShortDateTime }}</p>
        </mat-card>
        <a mat-menu-item [routerLink]="[j.id]" [queryParams]="getQueryParams()">
          <button mat-icon-button>
            <img src="https://www.gstatic.com/images/icons/material/system/1x/arrow_forward_grey600_24dp.png">
          </button>
          <span>Job details</span>
        </a>

        <button mat-menu-item *ngIf="canAbort(j)" (click)="abortJob(j)">
          <button mat-icon-button>
            <img src="https://www.gstatic.com/images/icons/material/system/1x/cancel_grey600_24dp.png">
          </button>
          <span>Abort job</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <!-- Implementation-specific additional columns -->
  <ng-container *ngFor="let df of displayFields">
    <ng-container matColumnDef="{{ df.field }}">
      <mat-header-cell *matHeaderCellDef>{{ df.display }}</mat-header-cell>
      <mat-cell class="additional-column" *matCellDef="let j">
        <div class="display-field" *ngIf=!isStatusField(df)>{{ getFieldValue(j, df) }}</div>
        <button mat-icon-button disabled *ngIf=isStatusField(df)>
          <img matTooltip="{{ getFieldValue(j, df) }}" matTooltipPosition="before"
             src="{{ getStatusUrl(getFieldValue(j, df)) }}">
        </button>
      </mat-cell>
    </ng-container>
  </ng-container>

  <!-- Column definitions -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class = "mat-row"
           (mouseenter) ="toggleMouseOver(j)"
           (mouseleave) ="toggleMouseOver(j)"
           [class.selected-row]="selection.isSelected(j)"
           *matRowDef="let j; columns: displayedColumns;"></mat-row>

</mat-table>

<div class="group-options" *ngIf="showSelectionBar()">
  {{ selection.selected.length }} jobs selected
  <button mat-raised-button color="accent"
          class="group-button group-abort"
          (click)="onAbortJobs()"
          [disabled]="!canAbortAny()">
    Abort Jobs
  </button>
</div>
