<form class = "filter-form">
  <md-form-field class = "filter-input" color="accent">
    <!-- Client side filtering is only supported for exhaustive jobs views. -->
    <input mdInput #filter
           [disabled]="!jobs.value.exhaustive"
           placeholder="Filter jobs">
  </md-form-field>
</form>

<md-tab-group (selectChange)="toggleActive($event)" selectedIndex="{{getTabSelectedIndex()}}">
  <md-tab label = "{{ statusGroupStringMap.get(statusGroup.Active) }}"></md-tab>
  <md-tab label = "{{ statusGroupStringMap.get(statusGroup.Failed) }}"></md-tab>
  <md-tab label = "{{ statusGroupStringMap.get(statusGroup.Completed) }}"></md-tab>
</md-tab-group>


<md-table #table [dataSource]="dataSource">

  <!-- Job name column -->
  <ng-container mdColumnDef="Job">
    <md-header-cell *mdHeaderCellDef>
      <md-checkbox class = "checkbox" [checked]="allSelected" (change)="toggleSelectAll()">
      </md-checkbox>
      Job
    </md-header-cell>
    <md-cell *mdCellDef="let j">
      <md-checkbox class = "checkbox" [checked]="isSelected(j)" (change)="toggleSelect(j)">
      </md-checkbox>
      <a md-button class="job-details-button" (click)="navigateJobDetail(j)">{{ j.name }}</a>

      <button md-icon-button class="jobs-dropdown-arrow"
              [class.visible]="showDropdownArrow(j)"
              [mdMenuTriggerFor]="menu">
        <img src="{{ getDropdownArrowUrl() }}">
      </button>
      <md-menu #menu="mdMenu" class="details-menu">
        <md-card>
          <md-card-title>{{ j.name }}</md-card-title>
          <p>{{ j.status }}</p>
          <p>Submitted: {{ j.submission | jmShortDateTime }}</p>
        </md-card>

        <a md-menu-item (click)="navigateJobDetail(j)">
          <button md-icon-button>
            <img src="https://www.gstatic.com/images/icons/material/system/1x/arrow_forward_grey600_24dp.png">
          </button>
          <span>Job details</span>
        </a>

        <button md-menu-item *ngIf="canAbort(j)" (click)="abortJob(j)">
          <button md-icon-button>
            <img src="https://www.gstatic.com/images/icons/material/system/1x/cancel_grey600_24dp.png">
          </button>
          <span>Abort job</span>
        </button>
      </md-menu>

    </md-cell>
  </ng-container>

  <!-- Status column -->
  <ng-container mdColumnDef="Status">
    <md-header-cell *mdHeaderCellDef> Status </md-header-cell>
    <md-cell *mdCellDef="let j">
      <button md-icon-button disabled>
        <img mdTooltip="{{ j.status }}" mdTooltipPosition="before"
             src="{{ getStatusUrl(j.status) }}">
      </button>
    </md-cell>
  </ng-container>

  <!-- Submitted column -->
  <ng-container mdColumnDef="Submitted">
    <md-header-cell *mdHeaderCellDef> Submitted </md-header-cell>
    <md-cell id="submitted-column" *mdCellDef="let j">{{ j.submission | jmShortDateTime }}</md-cell>
  </ng-container>

  <!-- Implementation-specific additional columns -->
  <ng-container *ngFor="let c of additionalColumns">
    <ng-container mdColumnDef="{{ c.header }}">
      <md-header-cell *mdHeaderCellDef>{{ c.header }}</md-header-cell>
      <md-cell class="additional-column" *mdCellDef="let j">{{ getJobLabel(j, c.key) }}</md-cell>
    </ng-container>
  </ng-container>

  <!-- Column definitions -->
  <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
  <md-row (mouseenter) ="toggleMouseOver(j)"
          (mouseleave) ="toggleMouseOver(j)"
          [class.selected-row]="isSelected(j)"
          class = "md-row"
          *mdRowDef="let j; columns: displayedColumns;"></md-row>

</md-table>

<div class="group-options" *ngIf="selectedJobs.length > 0">
  {{ selectedJobs.length }} jobs selected
  <button md-raised-button color="accent" class="group-button group-abort" *ngIf="currentStatusGroup==statusGroup.Active"
          (click)="onAbortJobs(selectedJobs)">Abort Jobs</button>
</div>

<md-paginator #paginator
              [length]="jobs.value.results.length"
              [pageIndex]="0"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</md-paginator>
