* {
  font-family: 'Roboto', sans-serif;
}

p {
  margin-top: .6rem;
  margin-bottom: .6rem;
}

.content {
  margin: 1rem;
  padding-top: 2rem;
}

.header {
  display: inline-block;
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
}

.close {
  color: gray;
  float: right;
  font-size: 2.5rem;
}

.job-id {
  margin-bottom: 1.2rem !important;
}

.mat-card-title {
  font-size: 1.2rem;
  color: gray
}

.card {
  float: left;
  width: 25%;
  min-width: 15rem;
  height: 10rem;
  margin: 1rem;
}

.card .mat-card-content {
  font-size: 0.8rem;
  line-height: 1rem;
}

/* TODO(bryancrampton): Add hover-over to display full detail field, if truncated */
.detail-field {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  padding-right: 1rem;
  white-space: nowrap;
  display: inline-block;
}
