* {
  font-family: 'Roboto', sans-serif;
}

p {
  margin-top: .6rem;
  margin-bottom: .6rem;
}

.content {
  margin: 1rem;
  padding-top: 2rem;
}

.header {
  display: inline-block;
  font-weight: normal;
  font-size: 2rem;
  margin: 0;
}

.close {
  color: gray;
  float: right;
  font-size: 2.5rem;
}

.job-id {
  margin-bottom: 1.2rem !important;
}

.mat-card-title {
  font-size: 1.2rem;
  color: gray
}

.card {
  float: left;
  width: 25%;
  height: 10rem;
  margin: 1rem;
}

/* TODO(bryancrampton): Add hover-over to display full detail field, if truncated */
.detail-field {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  padding-right: 1rem;
  white-space: nowrap;
  display: inline-block;
}

.other-errors {
  font-size: 0.7rem;
  color: gray;
}

.errors-total {
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

::ng-deep .card .mat-list {
  padding-top: 0;
}

::ng-deep .card .mat-list .mat-list-item {
  height: auto;
}

::ng-deep .card .mat-list .mat-list-item .mat-list-item-content {
  font-size: 0.7rem;
  padding-left: 0;
  margin-bottom: 0.5rem;
  margin-top: 0;
  line-height: 0.8rem;
  cursor: pointer;
}

clr-tooltip-content {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0.25rem 0.5rem;
  font-size: 0.65rem;
  color: #fff;
  display: block;
  margin: -0.6rem 0.5rem 0 0;
}
