<div class="content">
  <p class="header">{{ job.name }}</p>
  <button mat-icon-button class="close"
          (click)="handleClose()">
    <clr-tooltip>
      <clr-icon clrTooltipTrigger shape="times" style="color:#74AE43"></clr-icon>
      <clr-tooltip-content clrPosition="left" clrSize="xs" *clrIfOpen>
        <span>go back to list view</span>
      </clr-tooltip-content>
    </clr-tooltip>
  </button>
  <button mat-icon-button class="close"
          *ngIf="hasParent()" (click)="handleNavUp()">
    <clr-tooltip>
      <clr-icon clrTooltipTrigger shape="arrow" style="color:#74AE43"></clr-icon>
      <clr-tooltip-content clrPosition="left" clrSize="xs" *clrIfOpen>
        <span>go back to parent job</span>
      </clr-tooltip-content>
    </clr-tooltip>
  </button>
  <button *ngIf="canAbort()" (click)="abortJob()" class="close mat-raised-button">Abort job</button>
  <p class="job-id">
    ID: <input matInput id="job-id" value="{{ job.id }}" readonly="readonly" type="text">
    <button mat-icon-button (click)="copyJobIdToClipboard()" class="copy-button">
      <clr-tooltip>
        <clr-icon clrTooltipTrigger [attr.shape]="copyIcon"></clr-icon>
        <clr-tooltip-content clrPosition="right" clrSize="xs" *clrIfOpen>
          <span>copy job id to clipboard</span>
        </clr-tooltip-content>
      </clr-tooltip>
    </button>
  </p>
  <div *ngIf="hasPrimaryLabels()" class="job-labels">
    <span class="label" *ngFor="let l of primaryLabels">
      <span *ngIf="job.labels[l]">{{ l + ': '}}<b>{{ job.labels[l] }}</b></span>
    </span>
  </div>

  <mat-card class="card">
    <mat-card-title>Status: <span class="job-status">{{ job.status }}</span>
      <clr-icon [attr.shape]="getStatusIcon(job.status)"></clr-icon>
    </mat-card-title>
    <mat-card-content>
      <p><b>
        <ng-container *ngIf="numTasks > 0">
          Tasks: {{ numSucceededTasks }} succeeded, {{ numFailedTasks }} failed, {{ numRunningTasks }} currently being processed
        </ng-container>
      </b></p>
      <p id="submitted" *ngIf="job.submission">
        Submitted:
        <jm-datetime [datetime]="job.submission"></jm-datetime>
      </p>
      <p id="started" *ngIf="job.start">
        Started:
        <jm-datetime [datetime]="job.start"></jm-datetime>
      </p>
      <p id="ended" *ngIf="job.end">
        Ended:
        <jm-datetime [datetime]="job.end"></jm-datetime>
        ({{ job.start | jmDuration: job.end }})
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" *ngIf="whiteListedExtensions().length > 0">
    <mat-card-title>Details</mat-card-title>
    <mat-card-content>
      <div *ngFor="let f of whiteListedExtensions()">
        <p class="detail-field">
          <!--TODO(bryancrampton): Format dates correctly here-->
          <span>{{ f + ': ' + job.extensions[f] }}</span>
        </p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" *ngIf="hasFailures()">
    <mat-card-title>Errors ({{ job.failures.length }} total)</mat-card-title>
    <mat-card-content>
      <jm-failures-table [failures]="job.failures"
                         [numToShow]="numOfErrorsToShow"
                         [showHeaders]="false"
                         [jobId]="job.id"
                         [displayedColumns]="['name','links']"
                         [context]="'card'">
      </jm-failures-table>
    </mat-card-content>
  </mat-card>
</div>
