* {
  font-family: 'Roboto', sans-serif;
}

p {
  margin-top: .6rem;
  margin-bottom: .6rem;
}

.content {
  margin: 1rem;
}

.header {
  font-weight: normal;
  font-size: 2rem;
  padding-top: 2rem;
  margin: 0;
}

.job-id {
  margin-bottom: 1.2rem !important;
}

.text-info {
  margin-right: 3rem;
}

.card {
  margin-right: 1rem;
  margin-top: 2rem;
  float: left;
  min-height: 8.7rem;
}

.card.status {
  width: 20%;
}

.card.input-output {
  width: 30%;
}

.mat-tab-labels{
  justify-content: center;
}

.input-output-table {
  overflow: hidden;
}
