<div class="content">
  <div>
      <p class="header">{{ job.name }}</p>
      <p class="job-id">Job ID: <b>{{ job.id }}</b></p>
      <a class = "text-info">Submitted by: <b>{{ getUserId(job) }}</b></a>
  </div>

  <md-card>
    <md-card-title>Status</md-card-title>
    <md-card-content>
      <p><b>
        {{ job.status }}
        <ng-container *ngIf="numTasks > 0">
          {{ numCompletedTasks }} of {{ numTasks }} tasks completed
        </ng-container>
      </b></p>
      <p id="submitted">Submitted {{ job.submission | jmShortDateTime }}</p>
      <p id="started">Started {{ job.start | jmShortDateTime }} ({{ getDuration() }})</p>
      <p id="ended" *ngIf="job.end">Ended {{ job.end | jmShortDateTime }}</p>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>Inputs and Outputs</md-card-title>
      <p *ngIf="showInputsButton(j)">
        Input files
        <button md-button class="view-resources-button" [mdMenuTriggerFor]="inputsMenu">
          View
        </button>
      </p>
      <md-menu #inputsMenu="mdMenu">
        <a md-menu-item *ngFor="let i of inputs" href="{{ getInputResourceURL(i) }}">
          <span>{{ i }}</span>
        </a>
      </md-menu>

      <p *ngIf="showOutputsButton(j)">
        Output files
        <button md-button class="view-resources-button" [mdMenuTriggerFor]="outputsMenu">
          View
        </button>
      </p>
      <md-menu #outputsMenu="mdMenu">
        <a md-menu-item *ngFor="let o of outputs" href="{{ getOutputResourceURL(o) }}">
          <span>{{ o }}</span>
        </a>
      </md-menu>

      <p *ngIf="showLogsButton(j)">
        Log files
        <button md-button class="view-resources-button" [mdMenuTriggerFor]="logsMenu">
          View
        </button>
      </p>
      <md-menu #logsMenu="mdMenu">
        <a md-menu-item *ngFor="let o of logs" href="{{ getLogResourceURL(o) }}">
          <span>{{ o }}</span>
        </a>
      </md-menu>
    <md-card-content>
    </md-card-content>
  </md-card>
</div>
