<div class="content">
  <div>
      <p class="header">{{ job.name }}</p>
      <p class="job-id">ID: <b>{{ job.id }}</b></p>
      <span *ngFor="let l of labels">
        <p class="text-info">{{ l + ': ' + job.labels[l] }}</p>
      </span>
      <span *ngFor="let f of displayedExtensions">
        <p class="text-info">{{ f + ': ' + job.extensions[f] }}</p>
      </span>
  </div>

  <mat-card class="card status">
    <mat-card-title>Status</mat-card-title>
    <mat-card-content>
      <p><b>
        {{ job.status }}:
        <ng-container *ngIf="numTasks > 0">
          {{ numCompletedTasks }} of {{ numTasks }} tasks completed
        </ng-container>
      </b></p>
      <p id="submitted" *ngIf="job.submission">Submitted {{ job.submission | jmShortDateTime }}</p>
      <p id="started" *ngIf="job.start">
        Started {{ job.start | jmShortDateTime }}
        ({{ job.start | jmDuration: job.end }})
      </p>
      <p id="ended" *ngIf="job.end">Ended {{ job.end | jmShortDateTime }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card input-output" *ngIf="hasInputs() || hasOutputs()">
    <mat-card-title>
      <mat-tab-group>

        <mat-tab md-center-tabs="true" *ngIf="hasInputs()" label="Inputs">
          <mat-card-content>
            <jm-resources-table [entries]="job.inputs"></jm-resources-table>
          </mat-card-content>
        </mat-tab>

        <mat-tab md-center-tabs="true" *ngIf="hasOutputs()" label="Outputs">
          <mat-card-content>
            <jm-resources-table [entries]="job.outputs"></jm-resources-table>
          </mat-card-content>
        </mat-tab>

      </mat-tab-group>
    </mat-card-title>
  </mat-card>
</div>
