<div *ngIf="initialLoadFailure">
  <table>
      <tr>      _       _       __  __                                   </tr>
      <tr>     | |     | |     |  \/  |                                  </tr>
      <tr>     | | ___ | |__   | \  / | __ _ _ __   __ _  __ _  ___ _ __ </tr>
      <tr> _   | |/ _ \| '_ \  | |\/| |/ _` | '_ \ / _` |/ _` |/ _ \ '__|</tr>
      <tr>| |__| | (_) | |_) | | |  | | (_| | | | | (_| | (_| |  __/ |   </tr>
      <tr> \____/ \___/|_.__/  |_|  |_|\__,_|_| |_|\__,_|\__, |\___|_|   </tr>
      <tr>                                                __/ |          </tr>
      <tr>                                               |___/           </tr>
  </table>
  <p>
  <p>Job Manager is running but encountered a problem getting data from its workflow server.</p>
  <p><a href="{{ newUrl }}">{{ linkText }}</a></p>
  <p><i>{{errorMessage}}</i></p>
</div>
